//==||----------||==\\
//==||ACHIEVEMENTS||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------

#achievements {

    justify-content: center;
    align-items: center;
    width: 100%;
    //#(m)#
    display: none;
    height: 265.833px;
    @media (min-width: $scr-small) {
        display: flex;
        height: 274.2px;
    }
    @media (min-width: $scr-med) {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 220.667px;
    }
    @media (min-width: $scr-lg) {
        padding-top: 0;
        padding-bottom: 0;
        height: 265.833px;
    }

}

.achievements-area {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    //#(m)#
    @media (min-width: $scr-small) {
        width: 750px;
        height: 174.117px;
    }
    @media (min-width: $scr-med) {
        width: 970px;
        height: 220.667px;
    }
    @media (min-width: $scr-lg) {
        width: 1200px;
        height: 165.833px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

.ach-div {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    &:hover .colored {
        display: inline;
    }
    &:hover .grey {
        display: none;
    }
    //#(m)#
    height: 87.1967px;
    &:nth-of-type(1n+4) {

        width: 390px;
        height: 58px;
        margin-top: 20px;  
        padding-left: 20px;
        padding-right: 20px;

    }
    &:nth-of-type(1) {
        width: 115.2px + 40px;
    }
    &:nth-of-type(2) {
        width: 131.2px + 40px;
    }
    &:nth-of-type(3) {
        width: 246.2px + 40px;
    }
    @media (min-width: $scr-small) {

        height: 87.1967px;
        &:nth-of-type(1n+4) {
            width: 240px;
            height: 66.2833px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            img {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        &:nth-of-type(1) {
            width: 33.5px + 40px;
        }
        &:nth-of-type(2) {
            width: 45.6833px + 40px;
        }
        &:nth-of-type(3) {
            width: 133.25px + 40px;
        }

    }
    @media (min-width: $scr-med) {

        height: 110px;
        &:nth-of-type(1n+4) {

            width: 313.333px;
            height: 90.5833px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            img {
                padding-left: 0px;
                padding-right: 0px;
            }

        }
        &:nth-of-type(1) {
            width: 69.2px + 40px;
        }
        &:nth-of-type(2) {
            width: 85.2px + 40px;
        }
        &:nth-of-type(3) {
            width: 200.2px + 40px;
        }

    }
    @media (min-width: $scr-lg) {

        height: 87.1967px;
        &:nth-of-type(1n+4) {

            width: 390px;
            height: 58px;
            margin-top: 20px;
            padding-left: 0px;
            padding-right: 0px;
            img {
                padding-left: 20px;
                padding-right: 20px;
            }

        }
        &:nth-of-type(1) {
            width: 115.2px + 40px;
        }
        &:nth-of-type(2) {
            width: 131.2px + 40px;
        }
        &:nth-of-type(3) {
            width: 246.2px + 40px;
        }
    }

}

.ach-img {

    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    height: auto;
    min-height: auto;
    object-fit: contain;
    //#(m)#
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: $scr-lg) {
        width: 100%;
    }

}

.non-div {

    //#(m)#
    &:nth-of-type(1) {
        width: 291.2px + 40px;
    }   
    &:nth-of-type(2) {
        width: 225px;
    }
    @media (min-width: $scr-small) {

        &:nth-of-type(1) {

            width: 220.2px + 40px;
            margin-left: 0px;
            margin-right: 0px;

        }   
        &:nth-of-type(2) {
            width: 127.567px;
        }

    }
    @media (min-width: $scr-med) {

        &:nth-of-type(1) {

            width: 220.2px + 40px;
            margin-left: 12.5px;
            margin-right: 12.5px;
        }   
        &:nth-of-type(2) {
            width: 180.2px;
        }

    }
    @media (min-width: $scr-lg) {

        padding-right: 55px;
        padding-left: 55px;
        &:nth-of-type(1) {
            width: 291.2px + 40px;
            margin-left: 0px;
            margin-right: 0px;
        }   
        &:nth-of-type(2) {
            width: 225px;
        }

    }

}

.colored {
    display: none;
}

.grey {
    display: inline;
}

//-----------------------------------