#achievements {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: none;
  height: 265.833px;
}

@media (min-width: 768px) {
  #achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  #achievements {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 220.667px;
  }
}

@media (min-width: 1260px) {
  #achievements {
    padding-top: 0;
    padding-bottom: 0;
    height: 265.833px;
  }
}

.achievements-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .achievements-area {
    width: 720px;
    height: 174.117px;
  }
}

@media (min-width: 992px) {
  .achievements-area {
    width: 900px;
    height: 220.667px;
  }
}

@media (min-width: 1260px) {
  .achievements-area {
    width: 1094px;
    height: 165.833px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.ach-img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  padding-left: 55px;
  padding-right: 55px;
}

.ach-img:nth-of-type(1) {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.ach-img:nth-of-type(1), .ach-img:nth-of-type(6) {
  padding-left: 0;
}

.ach-img:nth-of-type(5), .ach-img:nth-of-type(8) {
  padding-right: 0;
}

.ach-img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(1) {
    width: 220px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(1) {
    width: 220px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(1) {
    width: 220px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(2) {
    width: 87.5667px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(2) {
    width: 140.2px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(2) {
    width: 115px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(3) {
    width: 33.5px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(3) {
    width: 69.2px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(3) {
    width: 44px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(4) {
    width: 45.6833px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(4) {
    width: 85.2px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(4) {
    width: 60px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(5) {
    width: 133.25px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(5) {
    width: 200.2px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(5) {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(6) {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(6) {
    width: 273.333px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(6) {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(7) {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(7) {
    width: 273.333px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(7) {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .ach-img:nth-of-type(8) {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(8) {
    width: 273.333px;
  }
}

@media (min-width: 1260px) {
  .ach-img:nth-of-type(8) {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .ach-img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ach-img:nth-of-type(6), .ach-img:nth-of-type(7), .ach-img:nth-of-type(8) {
    padding-top: 28px;
  }
}

@media (min-width: 992px) {
  .ach-img:nth-of-type(6), .ach-img:nth-of-type(7), .ach-img:nth-of-type(8) {
    padding-top: 28px;
  }
}

@media (min-width: 1260px) {
  .ach-img {
    padding-left: 55px;
    padding-right: 55px;
  }
  .ach-img:nth-of-type(6), .ach-img:nth-of-type(7) {
    padding-right: calc(215px / 2);
    padding-top: 26px;
  }
  .ach-img:nth-of-type(7), .ach-img:nth-of-type(8) {
    padding-left: calc(215px / 2);
    padding-top: 26px;
  }
}
/*# sourceMappingURL=achievements.css.map */