//==||----------||==\\
//==||---BODY---||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Body Styles ||----------------------

// Whole Document
html {
    overflow-x: hidden;
    font-size: 16px;
}

html * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
//--

// Body
body {

    background-color: $white; //--> from colors.scss
    color: $grey; //--> from colors.scss
    letter-spacing: .4px;
    line-height: 1.42857143;

}
//--

//-----------------------------------
