//==||----------||==\\
//==||---BODY---||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Setup ||----------------------

// Whole Document
html * {

    margin: 0;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 16px;
    overflow-x: hidden;
}

//--

// Body
body {

    background-color: $white;
    letter-spacing: .4px;
    line-height: 1.42857143;
    color: $grey;

}

//--

//-----------------------------------
