//==||----------||==\\
//==||-CAROUSEL-||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------
li.glide__slides {
    width: 100%;
    min-height: 490.2px;
    height: calc(100vh - 212.717px);
    position: relative;
    
}

.carousel-img-container {
    width: 100%;
    height: 100%;
}



.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.carousel-text {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
}

.carousel-button {

    vertical-align: middle;
    width: 183px;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px 20px;
    background-color: $vl-purple; //--> var, color.scss
    border-color: $vl-purple; //--> var, color.scss
    border-radius: 3px;
    color: $white; //--> var, color.scss
    font-size: 1.25rem; 
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $vd-purple; //--> var, color.scss
    }

}

div.glide__bullets {
    position: absolute;
    bottom: 20px;
    margin-left: 50vw;
    margin-right: auto;
}
button.glide__bullet {
    width: 11px;
    height: 11px;
    border: none;
    border-radius: 30px;
    &:hover {
        background: #d6d6d6;
    }
}

.bullet_chosen {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.glide__bullet--active {
    background-color: #fff;
}

.block-overlay {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}

//-----------------------------------