//==||----------||==\\
//==||-CAROUSEL-||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------
#carousel {
    position: relative;
    box-sizing: border-box;
    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
    }
    a:visited,
    a:link {
        color: $white;
    }
    //#(m)#
    height: calc(100vh - 168px);
    min-height: 531.2px;
    @media (min-width: $scr-small) {
        height: calc(100vh - 110px);
        min-height: 589.2px;
    }
    @media (min-width: $scr-med) { //--> from media.scss

        height: calc(100vh - 212.717px);
        min-height: 490.2px;
        a {
            margin-left: 9.58%;
        }
            
    }
}

.carousel-img-container {

    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    //#(m)#
    height: calc(100vh - 168px);
    min-height: 531.2px;
    @media (min-width: $scr-small) {
        height: calc(100vh - 110px);
        min-height: 589.2px;
    }
    @media (min-width: $scr-med) {
        height: calc(100vh - 212.717px);
        min-height: 490.2px;
    }

}

.carousel-img {
    vertical-align: middle;
    //#(m)#
    @media (min-height: 850px) {
        height: 100%;
    }
    @media (min-width: $scr-med) {
        @media (min-height: 950px) {
            height: 100%;
        }
    }
}

.carousel-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(#000,1), rgba(#000,0.0));
    color: $white; //--> from colors.scss
    text-transform: uppercase;
    h1 {
        margin: 0 9.58% 25px;
        font-size: 3rem;
    }
    p {

        margin: 0 9.58% 35px; //--> left/right, top, bottom
        font-size: 1.25rem;
        line-height: 2.25rem;
        text-transform: none;
        
    }
    //#(m)#
    align-items: center;
    p {
        text-align: center;
    }
    @media (min-width: $scr-med) { //--> from media.scss

        align-items: flex-start;
        p {
            text-align: left;
        }

    }
    
}

.carousel-button {

    vertical-align: middle;
    width: 183px;
    height: auto;
    margin-bottom: 0;
    padding: 5px 20px;
    background-color: $vl-purple; //--> from colors.scss
    border-color: $vl-purple; //--> from colors.scss
    border-radius: 3px;
    color: $white; //--> from colors.scss
    font-size: 1.25rem; 
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $vd-purple; //--> from colors.scss
    }
    //#(m)#
    margin-left: 0;
    // @media (min-width: $scr-med) { //--> from media.scss
    //     margin-left: 9.58%;
    // }

}


//-----------------------------------