//==||----------||==\\
//==||--COLORS--||==\\
//==||----------||==\\


//--|| Import ||---------------------

//-----------------------------------


//--|| Variables ||------------------

// Simple Colors
$white: #fff;
$grey: #666;
$offwhite: #ccc;

//--

// Greyscale
$lightgrey-scheme: #999aa2;
$lightgrey-hover: #84858f;
$darkgrey-scheme: #333645;
$menu-hover: #22242e;
$supergrey-scheme: #191a22;
$almost-black: #121419;

//--

// Scheme Colors
$vl-blue: #4183d7; 
$vd-blue: #286abd;

$vl-purple: #926fb1; 
$vd-purple: #79539a;

$vl-red: #d64541;
$vd-red: #bc2c28;

$vl-grey: #67809f;
$vd-grey: #526781;

$vl-green: #2ecc71;
$vd-green: #25a25a;

$vl-pink: #f62459;
$vd-pink: #de093f;

//--

// Misc
$chathead-blue: #509bd6;
$support-hover: #2a6ec6; 
//--

//-----------------------------------


//--|| Mixins ||------------------

// Color Scheme (for navbar buttons)
@mixin navButtonScheme($colorOne, $colorTwo) {

    .fas {
        color: $colorTwo;
    }

    &:hover {
        background-color: $colorOne;
    }

    &:hover .fas {
        color: $white; //--> from colors.scss
    }

    &:hover .dropdown {

        background-color: $colorTwo;
        display: flex;

    }

}

//--

//-----------------------------------


//--|| $white Log ||-----------------
//  *** colors.scss
//      *   @navButtonScheme
//          **  &:hover .fas
//  *** body.scss
//      **  body
//  *** header.scss
//      **  @bannerButton
//      *   #search-input
//          **@media(min-width: $scr-small)
//      *   #search-input
//          **  @media(min-width: $scr-small)
//              **  &:hover
//      **  .menu-button
//      **  .nav-link (x2)
//  *** carousel.scss
//      **  .carousel-text
//      **  .carousel-button
//-----------------------------------


//--|| $grey Log ||------------------
//  *** body.scss
//      **  body
//-----------------------------------


//--|| $offwhite Log ||--------------
//  *** header.scss
//      *   #search-input
//          **@media(min-width: $scr-small)
//      *   #search-input
//          **  @media(min-width: $scr-small)
//-----------------------------------


//--|| $lightgrey-scheme Log ||------
//  *** header.scss
//      **  .contact-container
//      *   .search-button-btn
//          **  @media(min-width: $scr-small)
//-----------------------------------


//--|| $lightgrey-hover Log ||-------
//  *** header.scss
//      **  .contact-container
//      *   .search-button-btn
//          *   @media(min-width: $scr-small)
//              * &:hover
//-----------------------------------


//--|| $darkgrey-scheme Log ||-------
//  *** header.scss
//      *   .phone-container
//          **  .fas
//      **  .menu-button
//      **  .nav-container
//-----------------------------------


//--|| $menu-hover Log ||------------
//  *** header.scss
//      *   .menu-button
//          **  &:hover
//-----------------------------------


//--|| $supergrey-scheme Log ||------

//-----------------------------------


//--|| $almost-black Log ||----------
//  *** header.scss
//      *   .phone-container
//          **  &:hover
//-----------------------------------


//--|| $vl-blue Log ||---------------
//  *** header.scss
//      **  .support-container
//      *   .it-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vd-blue Log ||---------------
//  *** header.scss
//      *   .it-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vl-purple Log ||-------------
//  *** header.scss
//      *   .web-link
//          **  @navButtonScheme
//  *** carousel.scss
//      **  .carousel-button (x2)
//-----------------------------------


//--|| $vd-purple Log ||-------------
//  *** header.scss
//      *   .web-link
//          **  @navButtonScheme
//  *** carousel.scss
//      *   .carousel-button
//          **  &:hover
//-----------------------------------


//--|| $vl-red Log ||----------------
//  *** header.scss
//      *   .tele-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vd-red Log ||----------------
//  *** header.scss
//      *   .tele-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vl-grey Log ||---------------
//  *** header.scss
//      *   .soft-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vd-grey Log ||---------------
//  *** header.scss
//      *   .soft-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vl-green Log ||--------------
//  *** header.scss
//      *   .market-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vd-green Log ||--------------
//  *** header.scss
//      *   .market-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vl-pink Log ||---------------
//  *** header.scss
//      *   .secur-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $vd-pink Log ||---------------
//  *** header.scss
//      *   .secur-link
//          **  @navButtonScheme
//-----------------------------------


//--|| $chathead-blue Log ||---------

//-----------------------------------


//--|| $support-hover Log ||---------
//  *** header.scss
//      **  .support-container
//-----------------------------------

//--|| @ navButtonScheme Log ||------
//  *** header.scss
//      **  .web-link
//      **  .it-link
//      **  .tele-link
//      **  .soft-link
//      **  .market-link
//      **  .secur-link
//-----------------------------------