.header-placer {
  width: 100%;
  height: 212.717px;
}

.placer-up {
  height: 0px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  position: static;
}

.header-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header-container a:visited,
.header-container a:link {
  color: #fff;
}

.header-down {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.header-hidden {
  position: fixed;
  top: -212.717px;
  left: 0;
  z-index: 9;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  height: 128px;
}

@media (min-width: 768px) {
  .banner-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 750px;
    height: 70px;
  }
}

@media (min-width: 992px) {
  .banner-container {
    width: 940px;
  }
}

@media (min-width: 1260px) {
  .banner-container {
    width: 1170px;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 345px;
            flex: 0 0 345px;
    max-width: 345px;
    height: 60.0667px;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 374px;
            flex: 0 0 374px;
    max-width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
    height: 64.4167px;
  }
}

.logo-img {
  width: 100%;
}

@media (min-width: 590px) {
  .logo-img {
    width: 402px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .logo-img {
    width: 345px;
    height: 60.067px;
  }
}

@media (min-width: 992px) {
  .logo-img {
    width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-img {
    width: 370px;
    height: 64.4167px;
  }
}

.phone-container .fas {
  margin-left: 15px;
  color: #333645;
  font-size: 2rem;
  cursor: pointer;
}

.phone-container .fas:hover {
  color: #121419;
}

@media (min-width: 768px) {
  .phone-container {
    display: none;
  }
}

.support-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5.8px 15.675px;
  background-color: #4183d7;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 93px;
}

.support-container .fas,
.support-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.support-container:hover {
  background-color: #2a6ec6;
}

.contact-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5.8px 15.675px;
  background-color: #999aa2;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 20px;
  padding: 5.8px 12.7915px;
}

.contact-container .fas,
.contact-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.contact-container:hover {
  background-color: #84858f;
}

.contact-container,
.support-container {
  display: none;
}

@media (min-width: 992px) {
  .contact-container,
  .support-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 47px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .search-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 238px;
    height: 56px;
    margin-left: 55px;
  }
}

@media (min-width: 992px) {
  .search-container {
    margin-left: 20px;
    width: 64.017px;
  }
}

@media (min-width: 1260px) {
  .search-container {
    width: 303px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
}

#search-input {
  width: 100%;
  padding: 5px 15px;
  border-style: solid;
  color: #555;
  font-size: 0.875rem;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 0 1.6px 1.6px;
}

#search-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  #search-input {
    width: 142px;
    height: 44.4px;
    background-color: #fff;
    border-color: #ccc;
    border-width: 0.8px;
  }
  #search-input:focus {
    border-color: #5bc0de;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}

@media (min-width: 992px) {
  #search-input {
    display: none;
  }
}

@media (min-width: 1260px) {
  #search-input {
    display: inline-block;
    width: 208px;
  }
}

.search-button-btn {
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 47px;
  margin-right: 20px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 1.6px 1.6px 0;
}

.search-button-btn .fas {
  color: #fff;
  font-size: 1.4375rem;
}

.search-button-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .search-button-btn {
    height: 56px;
    margin-right: 0;
    padding: 7px 20px 3px;
    background-color: #999aa2;
    border: none;
  }
  .search-button-btn:hover {
    background-color: #84858f;
  }
}

.menu-container {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .menu-container {
    margin-right: 0px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: #333645;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-button span {
  font-size: 21px;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}

.menu-button:hover {
  background-color: #22242e;
}

.nav-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  background-color: #333645;
  display: none;
}

@media (min-width: 992px) {
  .nav-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
  width: 154px;
}

.nav-link .fas {
  padding-bottom: 10px;
  font-size: 1.438rem;
}

.nav-link a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link small {
  font-size: 0.625rem;
  line-height: 1;
}

.nav-link:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1260px) {
  .nav-link {
    width: 196px;
  }
}

.web-link .fas {
  color: #79539a;
}

.web-link:hover {
  background-color: #926fb1;
}

.web-link:hover .fas {
  color: #fff;
}

.web-link:hover .dropdown {
  background-color: #79539a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.it-link .fas {
  color: #286abd;
}

.it-link:hover {
  background-color: #4183d7;
}

.it-link:hover .fas {
  color: #fff;
}

.it-link:hover .dropdown {
  background-color: #286abd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tele-link .fas {
  color: #bc2c28;
}

.tele-link:hover {
  background-color: #d64541;
}

.tele-link:hover .fas {
  color: #fff;
}

.tele-link:hover .dropdown {
  background-color: #bc2c28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soft-link .fas {
  color: #526781;
}

.soft-link:hover {
  background-color: #67809f;
}

.soft-link:hover .fas {
  color: #fff;
}

.soft-link:hover .dropdown {
  background-color: #526781;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.market-link .fas {
  color: #25a25a;
}

.market-link:hover {
  background-color: #2ecc71;
}

.market-link:hover .fas {
  color: #fff;
}

.market-link:hover .dropdown {
  background-color: #25a25a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secur-link .fas {
  color: #de093f;
}

.secur-link:hover {
  background-color: #f62459;
}

.secur-link:hover .fas {
  color: #fff;
}

.secur-link:hover .dropdown {
  background-color: #de093f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-container {
  position: absolute;
  top: 102px;
  left: 0;
  width: 99vw;
  font-size: .8125rem;
}

@media (min-width: 1260px) {
  .dropdown-container {
    font-size: 1rem;
  }
}

.right-align {
  margin-right: auto;
}

@media (min-width: 992px) {
  .right-align.align-one {
    width: 102px;
  }
  .right-align.align-two {
    width: 160px;
  }
  .right-align.align-three {
    width: 77px;
  }
  .right-align.align-four {
    width: 45px;
  }
  .right-align.align-five {
    width: 206px;
  }
  .right-align.align-six {
    width: 64px;
  }
}

@media (min-width: 1260px) {
  .right-align.align-one {
    width: 116px;
  }
  .right-align.align-two {
    width: 184px;
  }
  .right-align.align-three {
    width: 83px;
  }
  .right-align.align-four {
    width: 42px;
  }
  .right-align.align-five {
    width: 240px;
  }
  .right-align.align-six {
    width: 66px;
  }
}

.dropdown {
  display: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
  z-index: 2;
  min-width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 0;
  list-style: none;
  line-height: 2.813rem;
  cursor: pointer;
}

.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown li:first-of-type {
  margin-left: auto;
}

.dropdown li:nth-of-type(n+2) {
  padding-left: 30px;
}

.dropdown li::after {
  content: "-";
  padding-left: 30px;
}

.dropdown li:last-of-type::after {
  content: none;
}

@media (max-width: 1260px) {
  .dropdown li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown li:nth-of-type(n+2) {
    padding-left: 20px;
  }
  .dropdown li::after {
    content: "-";
    padding-left: 20px;
  }
}
/*# sourceMappingURL=header.css.map */