//==||----------||==\\
//==||--HEADER--||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Mixins ||---------------------

@mixin bannerButton($color-base, $color-hover) {

    justify-content: center;
    align-items: center;
    height: 44.4px;
    padding: 5.8px 15.675px;
    background-color: $color-base;
    border-radius: 3px;
    color: $white; //--> var, colors.scss
    font-size: 1.125rem;
    line-height: 46px;
    cursor: pointer; 
    //- Icon properties -
    .fas,
    .far {

        padding-left: 3px;
        padding-right: 3px;
        font-size: 1.438rem;

    }
    //-/
    //- Pseudos -
    &:hover {
        background-color: $color-hover;
    }
    //-/

}

//-----------------------------------


//--|| Header ||---------------------

.header-placer {
    width: 100%;
    height: 168px;
    @media(min-width: $scr-small) {
        height: 110px;
    }
    @media(min-width: $scr-med) {
        height: 212.717px;
    }
}

.placer-up {
    height: 0px;
}

.header-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #fff;
    transition: top 0.2s ease-in-out;
    position: static;
    a {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }
    a:visited,
    a:link {
        color: $white; //--> var, color.scss
    }

}

.header-down {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    @media(min-width: $scr-small) {
        padding-left: calc(50% - 375px);
        padding-right: calc(50% - 375px);
    }
    @media(min-width: $scr-med) {
        padding-left: 0;
        padding-right: 0;
    }
}
.header-hidden {
    position: fixed;
    top: -212.717px;
    left: 0;
    z-index: 9;
}

//-----------------------------------


//--|| Banner ||---------------------

.banner-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    //#(m)#
    justify-content: right;
    width: 100%;
    height: 168px - 40px;
   
    @media (min-width: $scr-small) {

        justify-content: center;
        width: 750px;
        height: 110px - 40px;

    }
    @media (min-width: $scr-med) {
        width: 940px;
    }
    @media (min-width: $scr-lg) {
        width: 1170px;
    }

}

.logo-container {

    display: flex;
    justify-content: left;
    align-self: flex-start;
    cursor: pointer;
    //#(m)#
    flex-basis: 33px;
    flex-grow: 1;
    margin-left: 20px;
    margin-top: auto; //CHROME FIX
    margin-bottom: auto; //CHROME FIX
    @media (min-width: $scr-small) {

        flex: 0 0 345px; //--> IE11 Fix
        max-width: 345px;
        height: 60.0667px;
        margin-left: 0;

    }
    @media (min-width: $scr-med) {

        flex: 0 0 374px; //--> IE11 Fix
        max-width: 374px;
        height: 65.15px;
        
    }
    @media (min-width: $scr-lg) {

        flex: 0 0 370px; //--> IE11 Fix
        max-width: 370px;
        height: 64.4167px;
        
    }

}

.logo-img {

    //#(m)#
    width: 100%;
    @media (min-width: $scr-tiny) {
        width: 402px;
        height: 70px;
    }
    @media (min-width: $scr-small) {
        width: 345px;
        height: 60.067px;
    }
    @media (min-width: $scr-med) {
        width: 374px;
        height: 65.15px;
    }
    @media (min-width: $scr-lg) {
        width: 370px;
        height: 64.4167px;
    }

}

.phone-container {

    .fas { //--> phone icon

        margin-left: 15px;
        color: $darkgrey-scheme; //--> var, color.scss
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            color: $almost-black;  //--> var, color.scss
        }

    }
    //#(m)#
    @media (min-width: $scr-small) {
        display: none;
    }

}

.support-container {

    @include bannerButton($vl-blue, $support-hover);  //--> var, color.scss (x2)
    margin-left: 93px;

}

.contact-container {

    @include bannerButton($lightgrey-scheme, $lightgrey-hover); //--> var, color.scss (x2)
    margin-left: 20px;
    padding: 5.8px 12.7915px;

}

.contact-container,
.support-container {

    //#(m)#
    display: none;
    @media (min-width: $scr-med) {
        display: flex;
    }

}

.search-container {

    //#(m)#
    order: 1; //--> changes location of search bar
    width: 100%;
    height: 47px;
    margin-left: 20px;
    @media (min-width: $scr-small) { 

        order: 0;
        width: 238px;
        height: 56px;
        margin-left: 55px;

    }
    @media (min-width: $scr-med) {
        margin-left: 20px;
        width: 64.017px;
    }
    @media (min-width: $scr-lg) {
        width: 303px;
    }

}

.search {
    display: flex;
    height: 34px;
}

#search-input {

    width: 100%;
    padding: 5px 15px; //--> left/right, top/bottom
    border-style: solid;
    color: #555;
    font-size: 0.875rem;
    //#(m)#
    height: 34px;
    background-color: rgba(#000,.1);
    border: 1.6px solid rgba(#000,.1);
    border-width: 1.6px 0 1.6px 1.6px; //--> tl,tr,br,bl
    &:focus {
        box-shadow: none;
    }
    @media (min-width: $scr-small) {

        width: 142px;
        height: 44.4px;
        background-color: $white;  //--> var, color.scss
        border-color: $offwhite;  //--> var, color.scss
        border-width: 0.8px;
        &:focus {
            border-color: #5bc0de;
            box-shadow: inset 0 1px 1px rgba($white, 0.075), 0 0 8px rgba(#5bc0de,0.6);  //--> var, color.scss
        }

    }
    @media (min-width: $scr-med) {
        display: none;
    }
    @media (min-width: $scr-lg) {
        display: inline-block;
        width: 208px;
    }

}

.search-button-btn {

    border-radius: 0 3px 3px 0; //--> tl,tr,br,bl
    cursor: pointer;
    .fas {
        color: $white;  //--> var, color.scss
        font-size: 1.4375rem;
         
    }
    // #(m)#
    height: 47px;
    margin-right: 20px;
    padding-top: 5px;
    background-color: rgba(#000,.1);
    border: 1.6px solid rgba(#000,.1);
    border-width: 1.6px 1.6px 1.6px 0; //-->tl,tr,br,bl
    &:hover {
        background-color: rgba(#000,0.1);
    }
    @media (min-width: $scr-small) {

        height: 56px;
        margin-right: 0;
        padding: 7px 20px 3px;
        background-color: $lightgrey-scheme;  //--> var, color.scss
        border: none;
        &:hover {
            background-color: $lightgrey-hover; //--> var, color.scss
        }

    }

}

.menu-container {

    //#(m)#
    margin-right: 20px;
    @media (min-width: $scr-small) {
        margin-right: 0px;
    }

}

.menu-button {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-left: 20px;
    padding: 5px 12px;
    background-color: #333645;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: .75rem;
    text-transform: uppercase;
    cursor: pointer;
    span {
        font-size: 21px;
        transform: scaleX(1);
        background-color: #fff;
    }
    &:hover {
        background-color: $menu-hover; //--> var, color.scss
    }
}

.menu-button span {
    font-size: 21px;
    transform: scaleX(1);
    background-color: #fff;
    margin-bottom: 3px;
    margin-top: 5px;
}

.hamburger-box {
    width: 33px;
    height: 21px;
    display: inline-block;
    position: relative;
}

.hamburger--slider .hamburger-inner {
    top: -5px;
}

.hamburger--slider.is-active .hamburger-box{
    background-color: #333645;
}

.hamburger--slider.is-active .hamburger-inner {
    background-color: #fff;
    height: 3px;
}

.hamburger--slider.is-active .hamburger-inner::after{
    background-color: #fff;
    height: 3px;
    transform: translate3d(0, -3px, 0) rotate(-90deg);
}

.hamburger--slider .hamburger-inner::before {
    top: 12px;
}

.hamburger--slider .hamburger-inner::after {
    top: 3px;
    bottom: -10px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 33px;
    height: 6px;
    border-radius: 0;
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease-out,opacity .1s ease-out .12s;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
}
//-----------------------------------


//--|| Navbar ||---------------------

// Navbar
.nav-container {

    justify-content: center;
    position: relative;
    width: 100%;
    background-color: $darkgrey-scheme; //--> var, color.scss
    //#(m)#
    display: none;
    @media (min-width: $scr-med) {
        display: inline-flex;
    }

}

.nav-link {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    border-left: 1px solid rgba($white, 0.1); //--> var, color.scss
    border-right: 1px solid rgba(#000, 0.25);
    color: $white;
    font-size: 1.125rem;
    cursor: pointer;
    .fas {
        padding-bottom: 10px;
        font-size: 1.438rem;
    }
    a span {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    small {
        font-size: 0.625rem;
        line-height: 1;
    }
    &:hover .dropdown {
        display: flex;
    } 
    //#(m)#
    width: 154px;
    @media (min-width: $scr-lg) {
        width: 196px;
    }
    
}


.web-link {
    @include navButtonScheme($vl-purple, $vd-purple); //--> var, color.scss (x2)
}

.it-link {
    @include navButtonScheme($vl-blue, $vd-blue); //--> var, color.scss (x2)
}

.tele-link {
    @include navButtonScheme($vl-red, $vd-red); //--> var, color.scss (x2)
}

.soft-link {
    @include navButtonScheme($vl-grey, $vd-grey); //--> var, color.scss (x2)
}

.market-link {
    @include navButtonScheme($vl-green, $vd-green); //--> var, color.scss (x2)
}

.secur-link {
    @include navButtonScheme($vl-pink, $vd-pink); //--> var, color.scss (x2)
}

.dropdown-container {

    position: absolute;
    top: 102px;
    left: 0;
    width: 99vw;
    //#(m)#s
    font-size: .8125rem;
    @media (min-width: $scr-lg) {
        font-size: 1rem;
    }

}

.right-align {

    margin-right: auto;
    //#(m)#
    @media (min-width: $scr-med) {

        &.align-one {
            width: 102px;
        }
        &.align-two {
            width: 160px;
        }
        &.align-three {
            width: 77px;
        }
        &.align-four {
            width: 45px;
        }
        &.align-five {
            width: 206px;
        }
        &.align-six {
            width: 64px;
        }

    }
    @media (min-width: $scr-lg) {

        &.align-one {
            width: 116px;
        }
        &.align-two {
            width: 184px;
        }
        &.align-three {
            width: 83px;
        }
        &.align-four {
            width: 42px;
        }
        &.align-five {
            width: 240px;
        }
        &.align-six {
            width: 66px;
        }

    }
    
}

.dropdown {

    display: none;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 100%;
    z-index: 2; //--> moves in front of carousel
    min-width: 100%;
    padding-inline-start: 0;
    padding-left: 0; //--> IE11 Fix
    list-style: none;
    line-height: 2.813rem;
    cursor: pointer;
    //- Dropdown menu item properties -
    li {

        display: flex;
        &:first-of-type {
            margin-left: auto;
        }
        &:nth-of-type(n+2) {
            padding-left: 30px;
        }
        &::after {
            content: "-"; //--> adds dash to dropdown items
            padding-left: 30px;
        }
        &:last-of-type::after {
            content: none; //--> stops dash at end of list
        }

    }
    //#(m)#
    @media (max-width: $scr-lg) {

        li {

            display: flex; 
            &:nth-of-type(n+2) {
                padding-left: 20px;
            }
            &::after {
                content: "-"; //--> adds dash to dropdown items
                padding-left: 20px;
            }

        }

    }

}

.left-header {
    margin-left: -367px;
    width: 100%;
    overflow-y: hidden;
    
}

//--

//-----------------------------------


//--|| @ bannerButton Log ||---------
//  *** header.scss
//      **  .support-container (#185)
//      **  .contact-container (#192)
//      **  .web-link (#405)
//      **  .it-link (#413)
//      **  .tele-link (#417)
//      **  .soft-link (#421)
//      **  .market-link (#425)
//      **  .secur-link (#429)
//-----------------------------------