//==||----------||==\\
//==||--HEADER--||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Mixins ||---------------------

@mixin bannerButton($color-base, $color-hover) {

    justify-content: center;
    align-items: center;
    height: 44.4px;
    padding: 5px 15px;
    background-color: $color-base;
    border-radius: 3px;
    color: $white; //--> from colors.scss
    font-size: 1.125rem;
    line-height: 46px;
    cursor: pointer; 
    //- Icon properties -
    .fas,
    .far {

        padding-left: 3px;
        padding-right: 3px;
        font-size: 1.438rem;

    }
    //-/
    //- Pseudos -
    &:hover {
        background-color: $color-hover;
    }
    //-/

}

//-----------------------------------


//--|| Header ||---------------------

.header-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 400;
    text-transform: uppercase;

}

//-----------------------------------


//--|| Banner ||---------------------

.banner-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 23px;
    //#(m)#
    justify-content: right;
    @media (min-width: $scr-small) { //--> from media.scss
        justify-content: center;
    }

}

.logo-container {

    display: flex;
    justify-content: left;
    cursor: pointer;
    //#(m)#
    flex-basis: 200px;
    flex-grow: 1;
    margin-left: 20px;
    @media (min-width: $scr-small) { //--> from media.scss

        width: 345px;
        height: 60.067px;
        margin-left: 0;

    }
    @media (min-width: $scr-med) { //--> from media.scss
        width: 374px;
        height: 65.15px;
    }
    @media (min-width: $scr-lg) { //--> from media.scss
        width: 370px;
        height: 64.4167px;
    }

}

.logo-img {

    //#(m)#
    width: 100%;
    @media (min-width: $scr-tiny) { //--> from media.scss
        width: 402px;
        height: 70px;
    }
    @media (min-width: $scr-small) { //--> from media.scss
        width: 345px;
        height: 60.067px;
    }
    @media (min-width: $scr-med) { //--> from media.scss
        width: 374px;
        height: 65.15px;
    }
    @media (min-width: $scr-lg) { //--> from media.scss
        width: 374px;
        height: 65.15px;
    }

}

.phone-container {

    .fas { //--> phone icon

        margin-left: 15px;
        color: $darkgrey-scheme; //--> from colors.scss
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            color: $almost-black; //--> from colors.scss
        }

    }
    //#(m)#
    @media (min-width: $scr-small) { //--> from media.scss
        display: none;
    }

}

.support-container {

    @include bannerButton($vl-blue, $support-hover); //--> from header.scss, from colors.scss
    margin-left: 93px;

}

.contact-container {

    @include bannerButton($lightgrey-scheme, $lightgrey-hover); //--> from header.scss, from colors.scss
    margin-left: 20px;

}

.contact-container,
.support-container {

    //#(m)#
    display: none;
    @media (min-width: $scr-med) { //--> from media.scss
        display: flex;
    }

}

.search-container {

    //#(m)#
    order: 1; //--> changes location of search bar
    width: 100%;
    height: 47px;
    margin-left: 20px;
    @media (min-width: $scr-small) { //--> from media.scss

        order: 0;
        width: initial;
        height: 56px;
        margin-left: 55px;

    }
    @media (min-width: $scr-med) { //--> from media.scss
        margin-left: 20px;
    }

}

.search {
    display: flex;
    height: 34px;
}

#search-input {

    width: 100%;
    padding: 5px 15px; //--> left/right, top/bottom
    border-style: solid;
    color: #555;
    font-size: 0.875rem;
    //#(m)#
    height: 34px;
    background-color: rgba(#000,.1);
    border: 1.6px solid rgba(#000,.1);
    border-width: 1.6px 0 1.6px 1.6px; //--> tl,tr,br,bl
    &:focus {
        box-shadow: none;
    }
    @media (min-width: $scr-small) { //--> from media.scss

        width: 142px;
        height: 44.4px;
        background-color: $white; //--> from colors.scss
        border-color: $offwhite; //--> from colors.scss
        border-width: 0.8px;
        &:focus {
            border-color: #5bc0de;
            box-shadow: inset 0 1px 1px rgba($white, 0.075), 0 0 8px rgba(#5bc0de,0.6); //--> from colors.scss
        }

    }
    @media (min-width: $scr-med) { //--> from media.scss
        display: none;
    }
    @media (min-width: $scr-lg) { //--> from media.scss
        display: inline-block;
        width: 208px;
    }

}

.search-button-btn {

    border-radius: 0 3px 3px 0; //--> tl,tr,br,bl
    cursor: pointer;
    .fas {
        color: $white;
        font-size: 1.4375rem; 
    }
    // #(m)#
    height: 47px;
    margin-right: 20px;
    padding-top: 20px;
    background-color: rgba(#000,.1);
    border: 1.6px solid rgba(#000,.1);
    border-width: 1.6px 1.6px 1.6px 0; //-->tl,tr,br,bl
    &:hover {
        background-color: rgba(#000,0.1);
    }
    @media (min-width: $scr-small) { //--> from media.scss

        height: 56px;
        margin-right: 0;
        padding: 7px 20px 3px;
        background-color: $lightgrey-scheme; //--> from colors.scss
        border: none;
        &:hover {
            background-color: $lightgrey-hover; //--> from colors.scss
        }

    }

}

.menu-container {

    //#(m)#
    margin-right: 20px;
    @media (min-width: $scr-small) { //--> from media.scss
        margin-right: 0px;
    }

}

.menu-button {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-left: 20px;
    padding: 5px 15px; //--> left/right, top/bottom
    background-color: $darkgrey-scheme; //--> from colors.scss
    border: none;
    border-radius: 3px;
    color: $white; //--> from colors.scss
    font-size: .75rem;
    text-transform: uppercase;
    cursor: pointer;
    span {
        font-size: 21px;
        transform: scaleX(2);
    }
    &:hover {
        background-color: $menu-hover; //--> from colors.scss
    }

}

//-----------------------------------


//--|| Navbar ||---------------------

// Navbar
.nav-container {

    justify-content: center;
    position: relative;
    width: 100%;
    background-color: $darkgrey-scheme; //--> from colors.scss
    //#(m)#
    display: none;
    @media (min-width: $scr-med) { //--> from media.scss
        display: inline-flex;
    }

}

.nav-link {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    border-left: 1px solid rgba($white, 0.1); //--> from colors.scss
    border-right: 1px solid rgba(#000, 0.25);
    color: $white; //--> from colors.scss
    font-size: 1.125rem;
    cursor: pointer;
    .fas {
        padding-bottom: 10px;
        font-size: 1.438rem;
    }
    span {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    small {
        font-size: 0.625rem;
        line-height: 1;
    }
    &:hover .dropdown {
        display: flex;
    } 
    //#(m)#
    width: 154px;
    @media (min-width: $scr-lg) { //--> from media.scss
        width: 196px;
    }
    
}


.web-link {
    @include navButtonScheme($vl-purple, $vd-purple); //--> from colors.scss
}

.it-link {
    @include navButtonScheme($vl-blue, $vd-blue); //--> from colors.scss
}

.tele-link {
    @include navButtonScheme($vl-red, $vd-red); //--> from colors.scss
}

.soft-link {
    @include navButtonScheme($vl-grey, $vd-grey); //--> from colors.scss
}

.market-link {
    @include navButtonScheme($vl-green, $vd-green); //--> from colors.scss
}

.secur-link {
    @include navButtonScheme($vl-pink, $vd-pink); //--> from colors.scss
}

.dropdown-container {

    position: absolute;
    left: 0;
    width: 99vw;
    margin-top: 99px;
    //#(m)#
    font-size: .8125rem;
    @media (min-width: $scr-lg) { //--> from media.scss
        font-size: 1rem;
    }

}

.dropdown {

    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    z-index: 2; //--> moves in front of carousel
    min-width: 100%;
    padding-inline-start: 0;
    list-style: none;
    line-height: 2.813rem;
    cursor: pointer;
    //- Dropdown menu item properties -
    li {

        &::after {
            content: "-"; //--> adds dash to dropdown items
            padding-left: 30px;
        }
        &:nth-of-type(n+2) {
            padding-left: 30px;
        }
        &:last-of-type::after {
            content: none; //--> stops dash at end of list
        }

    }
    //-/

}

//--

//-----------------------------------


//--|| @ bannerButton Log ||---------
//  *** header.scss
//      *   .support-container
//      *   .banner-container
//-----------------------------------