//==||----------||==\\
//==||--MEDIA---||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
//-----------------------------------

//--|| Screen Variables ||-----------
$scr-tiny: 590px;
$scr-small: 768px;
$scr-med: 992px;
$scr-lg: 1260px;

//--|| #(m)# Log ||--------------------
//  *** header.scss
//      **  .banner-container
//      **  .logo-container (x3)
//      **  .logo-img (x3)
//      **  .phone-container
//      **  .contact-container, .support-container
//      **  .search-container (x2)
//      **  .search-input (x3)
//      **  .search-button-btn
//      **  .menu-container
//      **  .nav-container
//      **  .nav-link
//      **  .dropdown-container
//  *** carousel.scss
//      **  .carousel-text
//          **  p
//      **  .carousel-button
//  *** services-cards.scss
//      *   #services-cards
//          **  .card (x2)
//          **  .top-row (x3)
//          **  .bottom-row (x3)
//      **  .card (x2)
//          **  &.soft-card, &.market-card
//          **  &.bottom-row (x3)
//  *** about.scss
//      **  #about-section
//      **  .about-area (x3)
//-----------------------------------