//==||----------||==\\
//==||NEWSLETTER||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------
#newsletter {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    // padding-top: 30px;
    // padding-bottom: 30px;
    
}

#newsletter-form {
    color: $darkgrey-scheme;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    //#(m)#
    width: calc(100% - 60px);
    @media (min-width: $scr-small) {
        width: 660px;
    }
    @media (min-width: $scr-med) {
        width: 880px;
    }
    @media (min-width: $scr-lg) {
        width: 1110px;
    }
}

.form-h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 400;
    order: -1;
    width: 100%;
    line-height: 1.1;
}



.form-label {
    
    margin-bottom: 5px;
    font-weight: 600;
    width: max-content;
    line-height: 1.42857143;
    &:first-of-type {
        margin-right: calc(50% - 92px);
    }
    span {
        color: #d24d57;
    }
    //#(m)#
    order: 1;
    @media (min-width: $scr-med) {
        order: 0;
    }
    
    
}

.form-text {
    order: 1;
    
    height: 37px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    color: #555;
    font-size: 0.875rem;
    border-width: 1.6px 0 1.6px 1.6px; //--> tl,tr,br,bl
    background-color: $white; //--> from colors.scss
    border-color: $offwhite; //--> from colors.scss
    border-width: 0.8px;
    &:focus {
        border-color: #5bc0de;
        box-shadow: inset 0 1px 1px rgba($white, 0.075), 0 0 8px rgba(#5bc0de,0.6); //--> from colors.scss
    }
    //#(m)#
    width: 100%;
    @media (min-width: $scr-small) {
        width: 628.4px;
    }
    @media (min-width: $scr-med) {
        width: 393.4px;
        &:first-of-type {
            margin-right: 30px;
        }
    }
    @media (min-width: $scr-lg) {
        width: 508.4px;
    }
}

.check-container {
    position: relative;
    order: 2;
    margin-right: 20px;
    height: 31.533px;
}

.form-check {
    position: absolute;
    left: 0;
    order: 2;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-color: #ddd;
    opacity: 0;
    cursor: pointer;
    &:checked + .form-checkset::before {
        content: '✓';
        width: 32px - 5.2px;
        height: 32px - 5.2px;
        background-color: $darkgrey-scheme;
        color: $white;
        text-align: center;
        vertical-align: center;
        font-size: 22px;
        display: inline-block;
    }
}

// .form-outercheck {
//     position: absolute;
//     top: 0px;
//     left: 0;
//     z-index: -1;
//     order: 2;
//     width: 32px;
//     height: 32px;
//     margin-right: 20px;
//     background-color: #ddd;
//     border-radius: 3px;
//     border: 3px solid #000;
// }

.form-checkset {
    display: inline-block;
    width: 0;
    height: 0;
    &::before {
        content: '';
        display: inline-block;
        // position: absolute;
        margin-right: 52px;
        width: 32px - 5.2px;
        height: 32px - 5.2px;
        background-color: #ddd;
        border-radius: 3px;
        border: 3px solid $darkgrey-scheme;
    }
}

.form-statement {
    order: 2;
    width: 1058px;
    margin-left: 52px;
    margin-top: -32px;
    margin-bottom: 30px;
    vertical-align: top;
    line-height: 32px;
    font-weight: 600;
    a {
        color: $darkgrey-scheme;
    }
    
}

.form-button {
    order: 3;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    background-color: $darkgrey-scheme;
    color: $white;
    user-select: none;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $menu-hover;
    }
}

//-----------------------------------