@charset "UTF-8";
#newsletter {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

#newsletter-form {
  color: #333645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: calc(100% - 60px);
}

@media (min-width: 768px) {
  #newsletter-form {
    width: 660px;
  }
}

@media (min-width: 992px) {
  #newsletter-form {
    width: 880px;
  }
}

@media (min-width: 1260px) {
  #newsletter-form {
    width: 1110px;
  }
}

.form-h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 400;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%;
  line-height: 1.1;
}

.form-label {
  margin-bottom: 5px;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1.42857143;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form-label:first-of-type {
  margin-right: calc(50% - 92px);
}

.form-label span {
  color: #d24d57;
}

@media (min-width: 992px) {
  .form-label {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.form-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 37px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  color: #555;
  font-size: 0.875rem;
  border-width: 1.6px 0 1.6px 1.6px;
  background-color: #fff;
  border-color: #ccc;
  border-width: 0.8px;
  width: 100%;
}

.form-text:focus {
  border-color: #5bc0de;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

@media (min-width: 768px) {
  .form-text {
    width: 628.4px;
  }
}

@media (min-width: 992px) {
  .form-text {
    width: 393.4px;
  }
  .form-text:first-of-type {
    margin-right: 30px;
  }
}

@media (min-width: 1260px) {
  .form-text {
    width: 508.4px;
  }
}

.check-container {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 20px;
  height: 31.533px;
}

.form-check {
  position: absolute;
  left: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-color: #ddd;
  opacity: 0;
  cursor: pointer;
}

.form-check:checked + .form-checkset::before {
  content: '✓';
  width: 26.8px;
  height: 26.8px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  vertical-align: center;
  font-size: 22px;
  display: inline-block;
}

.form-checkset {
  display: inline-block;
  width: 0;
  height: 0;
}

.form-checkset::before {
  content: '';
  display: inline-block;
  margin-right: 52px;
  width: 26.8px;
  height: 26.8px;
  background-color: #ddd;
  border-radius: 3px;
  border: 3px solid #333645;
}

.form-statement {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 1058px;
  margin-left: 52px;
  margin-top: -32px;
  margin-bottom: 30px;
  vertical-align: top;
  line-height: 32px;
  font-weight: 600;
}

.form-statement a {
  color: #333645;
}

.form-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  background-color: #333645;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #22242e;
}
/*# sourceMappingURL=newsletter.css.map */