//==||----------||==\\
//==||NEWSLETTER||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------

#newsletter {
    
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ddd;
    
}

#newsletter-form {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: $darkgrey-scheme; //--> var, color.scss
    //#(m)#
    width: calc(100% - 60px);
    @media (min-width: $scr-small) {
        width: 660px;
    }
    @media (min-width: $scr-med) {
        width: 880px;
    }
    @media (min-width: $scr-lg) {
        width: 1110px;
    }

}

.form-h2 {

    order: -1;
    width: 100%;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;

}

.form-label {
    
    width: max-content;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.42857143;
    &:first-of-type {
        margin-right: calc(50% - 92px);
    }
    span {
        color: #d24d57;
    }
    //#(m)#
    order: 1;
    @media (min-width: $scr-med) {
        order: 0;
    }
    
}

.form-text {

    order: 1;
    height: 37px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;  //--> var, color.scss
    border-style: solid;
    border-width: 1.6px 0 1.6px 1.6px; //--> tl,tr,br,bl
    border-color: $offwhite;  //--> var, color.scss
    border-width: 0.8px;
    color: #555;
    font-size: 0.875rem;
    &:focus {
        border-color: #5bc0de;
        box-shadow: inset 0 1px 1px rgba($white, 0.075), 0 0 8px rgba(#5bc0de,0.6); //--> var, color.scss
    }
    //#(m)#
    width: 100%;
    @media (min-width: $scr-small) {
        width: 628px;
    }
    @media (min-width: $scr-med) {

        width: 393px;
        &:first-of-type {
            margin-right: 30px;
        }

    }
    @media (min-width: $scr-lg) {
        width: 508px;
    }

}

.check-container {

    order: 2;
    position: relative;
    height: 31.533px;
    margin-right: 20px;

}

.form-check {

    order: 2;
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background-color: #ddd;
    opacity: 0;
    cursor: pointer;
    &:checked + .form-checkset::before {

        content: '✓';
        display: inline-block;
        vertical-align: center;
        width: 32px - 5.2px;
        height: 32px - 5.2px;
        background-color: $darkgrey-scheme; //--> var, color.scss
        color: $white; //--> var, color.scss
        text-align: center;
        font-size: 22px;
        
    }

}

.form-checkset {

    display: inline-block;
    width: 0;
    height: 0;
    &::before {

        content: '';
        display: inline-block;
        width: 32px - 5.2px;
        height: 32px - 5.2px;
        margin-right: 52px;
        background-color: #ddd;
        border-radius: 3px;
        border: 3px solid $darkgrey-scheme; //--> var, color.scss

    }
    
}

.form-statement {

    order: 2;
    vertical-align: top;
    width: 1058px;
    margin-left: 52px;
    margin-top: -32px;
    margin-bottom: 30px;
    line-height: 32px;
    font-weight: 600;
    a {
        color: $darkgrey-scheme; //--> var, color.scss
    }
    
}

.form-button {
    
    order: 3;
    padding: 5px 15px;
    background-color: $darkgrey-scheme; //--> var, color.scss
    border-radius: 3px;
    border: none;
    color: $white; //--> var, color.scss
    line-height: 35px;
    text-transform: uppercase;
    font-size: 1.063rem;
    user-select: none;
    cursor: pointer;
    &:hover {
        background-color: $menu-hover; //--> var, color.scss
    }

}

//-----------------------------------