//==||----------||==\\
//==||--SERVICE-||==\\
//==||--CARDS---||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------

#service-cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    a {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: $white; //--> var, color.scss
        border: 1px solid $offwhite; //--> var, color.scss
        border-radius: 3px;
        box-shadow: 0 3px 35px rgba(#000,0.1);
        color: $grey; //--> var, color.scss
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    
    }
    //#(m)#
    @media (min-width: $scr-lg) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        .top-con {
            flex: 0 0 368px;
        }
        .bottom-con {
            flex: 0 0 268px;
        }
    }
    @media (min-width: $scr-med) and (max-width: $scr-lg) {

        a {
            margin-left: 15px;
            margin-right: 15px;
        }
        .top-con {
            flex: 0 0 293px;
        }
        .bottom-con {
            flex: 0 0 455px;
        }
        
    }
    @media (min-width: $scr-small) and (max-width: $scr-med) {
        
        .top-con {
            flex: 0 0 720px;
        }
        .bottom-con {
            flex: 0 0 345px;
        }

    }

}

.card {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: min-content;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white; //--> var, color.scss
    text-align: center;
    cursor: pointer;
    h2 {

        margin-bottom: 14px;
        color: $darkgrey-scheme; //--> var, color.scss
        font-size: 1.125rem; 
        font-weight: 400;

    }
    span {

        width: 28px;
        min-height: 3px;
        margin-bottom: 11px;
        background-color: $darkgrey-scheme; //--> var, color.scss

    }
    &:hover .card-icon,
    &:hover span,
    &:hover .card-button {
        background-color: $white; //--> var, color.scss
    }
    &:hover h2 {
        color: $white; //--> var, color.scss
    } 
    //#(m)#
    height: 228px;
    @media (max-width: 571px) {

        &.soft-card,
        &.market-card {
            height: 250px;
        }

    }
    @media (min-width: $scr-small) {

        &.bottom-row {
            height: 250px;
        }

    }
    @media (min-width: $scr-med) {

        height: 294px;
        &.bottom-row {
            height: 228px;
        }

    }
    @media (min-width: $scr-lg) {

        height: 250px;
        &.bottom-row {
            height: 250px;
        }

    }
    
}

.top-con .card-p {

    //#(m)#
    width: 75%;
    @media (min-width: $scr-small) {
        width: 658px;
    }
    @media (min-width: $scr-med) {
        width: 232px;
    }
    @media (min-width: $scr-lg) {
        width: 308px;
    }

}

.bottom-con .card-p {

    //#(m)#
    width: 75%;
    @media (min-width: $scr-small) {
        width: 345px;
    }
    @media (min-width: $scr-med) {
        width: 455px;
    }
    @media (min-width: $scr-lg) {
        width: 208px;
    }

}

.soft-card {

    .card-icon,
    .card-button {
        background-color: $vl-grey; //--> var, color.scss
        color: $white; //--> var, color.scss
    }

}

.soft-card:hover {

    background-color: $vl-grey; //--> var, color.scss
    color: $white; //--> var, color.scss
    .card-icon,
    .card-button {
        color: $vl-grey; //--> var, color.scss
    }

}

.it-card {

    .card-icon,
    .card-button {
        background-color: $vl-blue; //--> var, color.scss
        color: $white; //--> var, color.scss
    }

}

.it-card:hover {

    background-color: $vl-blue; //--> var, color.scss
    color: $white;
    .card-icon,
    .card-button {
        color: $vl-blue;
    }

}

.market-card  {

    .card-icon,
    .card-button {
        background-color: $vl-green; //--> var, color.scss
        color: $white; //--> var, color.scss
    }

}

.market-card:hover  {

    background-color: $vl-green; //--> var, color.scss
    color: $white; //--> var, color.scss
    .card-icon,
    .card-button {
        color: $vl-green; //--> var, color.scss
    }
    
}

.tele-card {

    .card-icon,
    .card-button {
        background-color: $vl-red; //--> var, color.scss
        color: $white; //--> var, color.scss
    }
    
}

.tele-card:hover {

    background-color: $vl-red; //--> var, color.scss
    color: $white; //--> var, color.scss
    .card-icon,
    .card-button {
        color: $vl-red; //--> var, color.scss
    }
    
}

.web-card,
.scs-card {

    .card-icon,
    .card-button {
        background-color: $vl-purple; //--> var, color.scss
        color: $white; //--> var, color.scss
    }

}

.web-card:hover,
.scs-card:hover {

    background-color: $vl-purple; //--> var, color.scss
    color: $white; //--> var, color.scss
    .card-icon,
    .card-button {
        color: $vl-purple; //--> var, color.scss
    }

}

.secur-card {

    .card-icon,
    .card-button {
        background-color: $vl-pink; //--> var, color.scss
        color: $white; //--> var, color.scss
    }

}

.secur-card:hover {

    background-color: $vl-pink; //--> var, color.scss
    color: $white; //--> var, color.scss
    .card-icon,
    .card-button {
        color: $vl-pink; //--> var, color.scss
    }

}

.card-icon {

    display: flex;
    justify-content: center;
    width: 60px;
    min-height: 60px;
    margin-bottom: 17px;
    border-radius: 50%;
    color: $white; //--> var, color.scss
    font-size: 1.438rem;
    .fas {
        height: 24px;
        margin-top: 19px;
    }
    
}

.card-p {

    margin-bottom: 13px;
    font-size: .8125rem;
    line-height: 1.375rem;
    
}

.card-button {

    padding: 5px 15px;
    border-radius: 3px;
    color: $white; //--> var, color.scss
    font-size: 1.063rem;
    line-height: 35px;
    text-transform: uppercase;

}

//-----------------------------------