//==||----------||==\\
//==||--SERVICE-||==\\
//==||--CARDS---||==\\
//==||----------||==\\


//--|| Import ||---------------------
@import 'colors.scss';
@import 'media.scss';
//-----------------------------------


//--|| Rules ||----------------------
#service-cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //-!
        width: 100%;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    // padding-left: 30px;
    // padding-right: 30px ;
    background-color: $white; //--> from colors.scss
    border: 1px solid $offwhite; //--> from colors.scss
    border-radius: 3px;
    box-shadow: 0 3px 35px rgba(#000,0.1);
    text-align: center;
    text-decoration: none;
    color: $grey;
    cursor: pointer;
    
    }


    //#(m)#
    @media (min-width: $scr-lg) { //--> from media.scss
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        .top-con {
            flex: 0 0 368px;
        }
        .bottom-con {
            flex: 0 0 268px;
        }
    }
    @media (min-width: $scr-med) and (max-width: $scr-lg) { //--> from media.scss
        
        a {
            margin-left: 15px;
            margin-right: 15px;
        }
        .top-con {
            flex: 0 0 293px;
        }
        .bottom-con {
            flex: 0 0 455px;
        }
        
    }
    @media (min-width: $scr-small) and (max-width: $scr-med) { //--> from media.scss
        
        .top-con {
            flex: 0 0 720px;
        }
        .bottom-con {
            flex: 0 0 345px;
        }

    }
    // @media (max-width: $scr-small) { //--> from media.scss
       
    //     .card {
    //         // flex: 0 0 100%;
    //     }

    // }

}

.card {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
    // margin-top: 30px;
    // margin-left: 15px;
    // margin-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white; //--> from colors.scss
    // border: 1px solid $offwhite; //--> from colors.scss
    // border-radius: 3px;
    // box-shadow: 0 3px 35px rgba(#000,0.1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    h2 {
        color: $darkgrey-scheme; //--> from colors.scss
        font-size: 1.125rem; 
        font-weight: 400;
        margin-bottom: 14px;
    }
    span {

        width: 28px;
        min-height: 3px;
        background-color: $darkgrey-scheme; //--> from colors.scss
        margin-bottom: 11px;

    }
    
    &:hover .card-icon,
    &:hover span,
    &:hover .card-button {
        background-color: $white; //--> from colors.scss
    }
    &:hover h2 {
        color: $white; //--> from colors.scss
    } 
    //#(m)#
    height: 228px;
    @media (max-width: 571px) { //--> from media.scss

        &.soft-card,
        &.market-card {
            height: 250px;
        }

    }
    @media (min-width: $scr-small) { //--> from media.scss

        &.bottom-row {
            height: 250px;
        }

    }
    @media (min-width: $scr-med) { //--> from media.scss

        height: 294px;
        &.bottom-row {
            height: 228px;
        }

    }
    @media (min-width: $scr-lg) { //--> from media.scss

        height: 250px;
        &.bottom-row {
            height: 250px;
        }

    }
    
}

.top-con .card-p {
    //#(m)#
    width: 75%;
    @media (min-width: $scr-small) {
        width: 658px;
    }
    @media (min-width: $scr-med) {
        width: 232px;
    }
    @media (min-width: $scr-lg) {
        width: 308px;
    }
}

.bottom-con .card-p {
    //#(m)#
    width: 75%;
    @media (min-width: $scr-small) {
        width: 345px;
    }
    @media (min-width: $scr-med) {
        width: 455px;
    }
    @media (min-width: $scr-lg) {
        width: 208px;
    }
}

.soft-card {

    .card-icon,
    .card-button {
        background-color: $vl-grey; //--> from colors.scss
        color: $white; //--> from colors.scss
    }

}

.soft-card:hover {

    background-color: $vl-grey; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-grey; //--> from colors.scss
    }

}

.it-card {

    .card-icon,
    .card-button {
        background-color: $vl-blue; //--> from colors.scss
        color: $white; //--> from colors.scss
    }

}

.it-card:hover {

    background-color: $vl-blue; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-blue; //--> from colors.scss
    }

}



.market-card  {

    .card-icon,
    .card-button {
        background-color: $vl-green; //--> from colors.scss
        color: $white; //--> from colors.scss
    }

}

.market-card:hover  {

    background-color: $vl-green; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-green; //--> from colors.scss
    }
    
}

.tele-card {

    .card-icon,
    .card-button {
        background-color: $vl-red; //--> from colors.scss
        color: $white; //--> from colors.scss
    }
    
}

.tele-card:hover {

    background-color: $vl-red; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-red; //--> from colors.scss
    }
    
}

.web-card,
.scs-card {

    .card-icon,
    .card-button {
        background-color: $vl-purple; //--> from colors.scss
        color: $white; //--> from colors.scss
    }

}

.web-card:hover,
.scs-card:hover {

    background-color: $vl-purple; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-purple; //--> from colors.scss
    }
}

.secur-card {

    .card-icon,
    .card-button {
        background-color: $vl-pink; //--> from colors.scss
        color: $white; //--> from colors.scss
    }

}

.secur-card:hover {

    background-color: $vl-pink; //--> from colors.scss
    color: $white; //--> from colors.scss
    .card-icon,
    .card-button {
        color: $vl-pink; //--> from colors.scss
    }

}

.card-icon {

    display: flex;
    justify-content: center;
    // align-items: center;
    min-height: 60px;
    width: 60px;
    border-radius: 50%;
    color: $white; //--> from colors.scss
    font-size: 1.438rem;
    margin-bottom: 17px;
    .fas {
        height: 24px;
        margin-top: 19px;
    }
    
}

.card-p {

    margin-bottom: 13px;
    font-size: .8125rem;
    line-height: 1.375rem;
    
}

.card-button {

    padding: 5px 15px;
    border-radius: 3px;
    color: $white; //--> from colors.scss
    font-size: 1.063rem;
    line-height: 35px;
    text-transform: uppercase;

}

//-----------------------------------