html {
  overflow-x: hidden;
  font-size: 16px;
}

html * {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #666;
  letter-spacing: .4px;
  line-height: 1.42857143;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  text-transform: uppercase;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 23px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (min-width: 768px) {
  .banner-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .logo-container {
    width: 345px;
    height: 60.067px;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .logo-container {
    width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-container {
    width: 370px;
    height: 64.4167px;
  }
}

.logo-img {
  width: 100%;
}

@media (min-width: 590px) {
  .logo-img {
    width: 402px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .logo-img {
    width: 345px;
    height: 60.067px;
  }
}

@media (min-width: 992px) {
  .logo-img {
    width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-img {
    width: 374px;
    height: 65.15px;
  }
}

.phone-container .fas {
  margin-left: 15px;
  color: #333645;
  font-size: 2rem;
  cursor: pointer;
}

.phone-container .fas:hover {
  color: #121419;
}

@media (min-width: 768px) {
  .phone-container {
    display: none;
  }
}

.support-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5px 15px;
  background-color: #4183d7;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 93px;
}

.support-container .fas,
.support-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.support-container:hover {
  background-color: #2a6ec6;
}

.contact-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5px 15px;
  background-color: #999aa2;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 20px;
}

.contact-container .fas,
.contact-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.contact-container:hover {
  background-color: #84858f;
}

.contact-container,
.support-container {
  display: none;
}

@media (min-width: 992px) {
  .contact-container,
  .support-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 47px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .search-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: initial;
    height: 56px;
    margin-left: 55px;
  }
}

@media (min-width: 992px) {
  .search-container {
    margin-left: 20px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
}

#search-input {
  width: 100%;
  padding: 5px 15px;
  border-style: solid;
  color: #555;
  font-size: 0.875rem;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 0 1.6px 1.6px;
}

#search-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  #search-input {
    width: 142px;
    height: 44.4px;
    background-color: #fff;
    border-color: #ccc;
    border-width: 0.8px;
  }
  #search-input:focus {
    border-color: #5bc0de;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}

@media (min-width: 992px) {
  #search-input {
    display: none;
  }
}

@media (min-width: 1260px) {
  #search-input {
    display: inline-block;
    width: 208px;
  }
}

.search-button-btn {
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 47px;
  margin-right: 20px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 1.6px 1.6px 0;
}

.search-button-btn .fas {
  color: #fff;
  font-size: 1.4375rem;
}

.search-button-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .search-button-btn {
    height: 56px;
    margin-right: 0;
    padding: 7px 20px 3px;
    background-color: #999aa2;
    border: none;
  }
  .search-button-btn:hover {
    background-color: #84858f;
  }
}

.menu-container {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .menu-container {
    margin-right: 0px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: #333645;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-button span {
  font-size: 21px;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}

.menu-button:hover {
  background-color: #22242e;
}

.nav-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  background-color: #333645;
  display: none;
}

@media (min-width: 992px) {
  .nav-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
  width: 154px;
}

.nav-link .fas {
  padding-bottom: 10px;
  font-size: 1.438rem;
}

.nav-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link small {
  font-size: 0.625rem;
  line-height: 1;
}

.nav-link:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1260px) {
  .nav-link {
    width: 196px;
  }
}

.web-link .fas {
  color: #79539a;
}

.web-link:hover {
  background-color: #926fb1;
}

.web-link:hover .fas {
  color: #fff;
}

.web-link:hover .dropdown {
  background-color: #79539a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.it-link .fas {
  color: #286abd;
}

.it-link:hover {
  background-color: #4183d7;
}

.it-link:hover .fas {
  color: #fff;
}

.it-link:hover .dropdown {
  background-color: #286abd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tele-link .fas {
  color: #bc2c28;
}

.tele-link:hover {
  background-color: #d64541;
}

.tele-link:hover .fas {
  color: #fff;
}

.tele-link:hover .dropdown {
  background-color: #bc2c28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soft-link .fas {
  color: #526781;
}

.soft-link:hover {
  background-color: #67809f;
}

.soft-link:hover .fas {
  color: #fff;
}

.soft-link:hover .dropdown {
  background-color: #526781;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.market-link .fas {
  color: #25a25a;
}

.market-link:hover {
  background-color: #2ecc71;
}

.market-link:hover .fas {
  color: #fff;
}

.market-link:hover .dropdown {
  background-color: #25a25a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secur-link .fas {
  color: #de093f;
}

.secur-link:hover {
  background-color: #f62459;
}

.secur-link:hover .fas {
  color: #fff;
}

.secur-link:hover .dropdown {
  background-color: #de093f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-container {
  position: absolute;
  left: 0;
  width: 99vw;
  margin-top: 99px;
  font-size: .8125rem;
}

@media (min-width: 1260px) {
  .dropdown-container {
    font-size: 1rem;
  }
}

.dropdown {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
  z-index: 2;
  min-width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  line-height: 2.813rem;
  cursor: pointer;
}

.dropdown li::after {
  content: "-";
  padding-left: 30px;
}

.dropdown li:nth-of-type(n+2) {
  padding-left: 30px;
}

.dropdown li:last-of-type::after {
  content: none;
}

#carousel {
  position: relative;
}

.carousel-img-container {
  overflow: hidden;
  width: 100%;
  height: 675px;
}

.carousel-img {
  vertical-align: middle;
}

.carousel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  color: #fff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-text h1 {
  margin: 0 9.58% 25px;
  font-size: 3rem;
}

.carousel-text p {
  margin: 0 9.58% 35px;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-transform: none;
}

.carousel-text p {
  text-align: center;
}

@media (min-width: 992px) {
  .carousel-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .carousel-text p {
    text-align: left;
  }
}

.carousel-button {
  vertical-align: middle;
  width: 183px;
  height: auto;
  margin-bottom: 0;
  padding: 5px 20px;
  background-color: #926fb1;
  border-color: #926fb1;
  border-radius: 3px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin-left: 0;
}

.carousel-button:hover {
  background-color: #79539a;
}

@media (min-width: 992px) {
  .carousel-button {
    margin-left: 9.58%;
  }
}

#service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 1260px) {
  #service-cards .top-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 308px;
            flex: 0 0 308px;
  }
  #service-cards .bottom-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 208px;
            flex: 0 0 208px;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  #service-cards .card {
    margin-left: 15px;
    margin-right: 15px;
  }
  #service-cards .top-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 231px;
            flex: 0 0 231px;
  }
  #service-cards .bottom-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 393px;
            flex: 0 0 393px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #service-cards .top-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 658px;
            flex: 0 0 658px;
  }
  #service-cards .bottom-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 283px;
            flex: 0 0 283px;
  }
}

@media (max-width: 768px) {
  #service-cards .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  height: 228px;
}

.card h2 {
  color: #333645;
  font-size: 1.125rem;
}

.card span {
  width: 28px;
  height: 3px;
  background-color: #333645;
}

.card p {
  margin-bottom: 13px;
  font-size: .8125rem;
  line-height: 1.375rem;
}

.card:hover .card-icon,
.card:hover span,
.card:hover .card-button {
  background-color: #fff;
}

.card:hover h2 {
  color: #fff;
}

@media (max-width: 571px) {
  .card.soft-card, .card.market-card {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .card.bottom-row {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .card {
    height: 294px;
  }
  .card.bottom-row {
    height: 228px;
  }
}

@media (min-width: 1260px) {
  .card {
    height: 250px;
  }
  .card.bottom-row {
    height: 250px;
  }
}

.soft-card .card-icon,
.soft-card .card-button {
  background-color: #67809f;
  color: #fff;
}

.soft-card:hover {
  background-color: #67809f;
  color: #fff;
}

.soft-card:hover .card-icon,
.soft-card:hover .card-button {
  color: #67809f;
}

.it-card .card-icon,
.it-card .card-button {
  background-color: #4183d7;
  color: #fff;
}

.it-card:hover {
  background-color: #4183d7;
  color: #fff;
}

.it-card:hover .card-icon,
.it-card:hover .card-button {
  color: #4183d7;
}

.market-card .card-icon,
.market-card .card-button {
  background-color: #2ecc71;
  color: #fff;
}

.market-card:hover {
  background-color: #2ecc71;
  color: #fff;
}

.market-card:hover .card-icon,
.market-card:hover .card-button {
  color: #2ecc71;
}

.tele-card .card-icon,
.tele-card .card-button {
  background-color: #d64541;
  color: #fff;
}

.tele-card:hover {
  background-color: #d64541;
  color: #fff;
}

.tele-card:hover .card-icon,
.tele-card:hover .card-button {
  color: #d64541;
}

.web-card .card-icon,
.web-card .card-button,
.scs-card .card-icon,
.scs-card .card-button {
  background-color: #926fb1;
  color: #fff;
}

.web-card:hover,
.scs-card:hover {
  background-color: #926fb1;
  color: #fff;
}

.web-card:hover .card-icon,
.web-card:hover .card-button,
.scs-card:hover .card-icon,
.scs-card:hover .card-button {
  color: #926fb1;
}

.secur-card .card-icon,
.secur-card .card-button {
  background-color: #f62459;
  color: #fff;
}

.secur-card:hover {
  background-color: #f62459;
  color: #fff;
}

.secur-card:hover .card-icon,
.secur-card:hover .card-button {
  color: #f62459;
}

.card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.438rem;
}

.card-button {
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.063rem;
  line-height: 35px;
  text-transform: uppercase;
}

#about-section {
  width: 100%;
  height: 552px;
  background-color: #333645;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
  color: #fff;
  background-image: none;
}

@media (min-width: 992px) {
  #about-section {
    background-image: url(../resources/img/branded.png);
  }
}

.about-area {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .about-area {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .about-area {
    width: 940px;
  }
}

@media (min-width: 1260px) {
  .about-area {
    width: 1200px;
  }
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 560px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-text p {
  line-height: 1.875rem;
}

.about-text p:first-of-type {
  font-weight: bold;
}

.about-h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

.about-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 141px;
  height: 35px;
  padding: 5px 15px;
  background-color: #fff;
  color: #333645;
  font-size: 1.063rem;
  text-transform: uppercase;
  cursor: pointer;
}

.about-button:hover {
  background-color: #ebebeb;
}

.break-div {
  position: relative;
  height: 104px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  color: #333645;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.break-div * {
  margin-left: 15px;
}

.break-div h4 {
  padding: 40px 0;
}

.break-div span {
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  width: 72px;
  height: 5px;
  background-color: #333645;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  margin-top: 50px;
  margin-right: 15px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .news-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card-news {
  position: relative;
  margin-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-top-color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.card-news:nth-of-type(1) .news-img-container p {
  background-color: #926fb1;
}

.card-news:nth-of-type(1) h3 {
  color: #926fb1;
}

.card-news:nth-of-type(1) .news-button {
  background-color: #926fb1;
}

.card-news:nth-of-type(1) .news-button:hover {
  background-color: #79539a;
}

.card-news:nth-of-type(2) .news-img-container p {
  background-color: #d64541;
}

.card-news:nth-of-type(2) h3 {
  color: #d64541;
}

.card-news:nth-of-type(2) .news-button {
  background-color: #d64541;
}

.card-news:nth-of-type(2) .news-button:hover {
  background-color: #bc2c28;
}

.card-news:nth-of-type(3) .news-img-container p {
  background-color: #926fb1;
}

.card-news:nth-of-type(3) h3 {
  color: #926fb1;
}

.card-news:nth-of-type(3) .news-button {
  background-color: #926fb1;
}

.card-news:nth-of-type(3) .news-button:hover {
  background-color: #79539a;
}

@media (min-width: 768px) {
  .card-news {
    width: 345px;
    height: 568px;
  }
}

@media (min-width: 992px) {
  .card-news {
    width: 455px;
    height: 632px;
  }
}

@media (min-width: 1260px) {
  .card-news {
    width: 370px;
    height: 574px;
  }
}

@media (min-width: 768px) {
  .card-news:nth-of-type(3) {
    display: none;
  }
}

@media (min-width: 1260px) {
  .card-news:nth-of-type(3) {
    display: initial;
  }
}

.news-img-container {
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: auto;
}

.news-img-container img {
  width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.news-img-container p {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 10px;
  background-color: #d64541;
  color: #fff;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1.438rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .news-img-container {
    height: auto;
  }
}

@media (min-width: 992px) {
  .news-img-container img:hover {
    opacity: .75;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.news-h3 {
  min-height: 3rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  font-size: 1rem;
  margin-top: 30px;
}

.news-p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: .8125rem;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .news-p {
    margin-bottom: 50px;
  }
}

@media (min-width: 1260px) {
  .news-p {
    margin-bottom: 30px;
  }
}

.news-button {
  width: 98px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 15px;
  border-radius: 3px;
  line-height: 35px;
  color: #fff;
  font-size: 1.063rem;
  text-transform: uppercase;
  cursor: pointer;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  font-size: .875rem;
}

#clients {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #fff;
  -webkit-box-shadow: 0px -50px 0 0 #fff;
          box-shadow: 0px -50px 0 0 #fff;
  display: none;
}

@media (min-width: 768px) {
  #clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45.117px;
  }
}

@media (min-width: 992px) {
  #clients {
    height: 62.833px;
  }
}

@media (min-width: 1260px) {
  #clients {
    height: 70px;
  }
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.client-item:hover .pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-item:hover .client-img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (min-width: 768px) {
  .client-item:hover {
    height: 145.117px;
  }
}

@media (min-width: 992px) {
  .client-item:hover {
    height: 162.833px;
  }
}

@media (min-width: 1260px) {
  .client-item {
    margin-left: 37.5px;
    margin-right: 37.5px;
  }
  .client-item:hover {
    height: 170px;
  }
}

.client-img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: auto;
  width: auto;
}

@media (min-width: 768px) {
  .client-img.busseys-img {
    width: 121.15px;
  }
  .client-img.crane-img {
    width: 184.95px;
  }
  .client-img.beat-img {
    width: 46.4px;
  }
  .client-img.northern-img {
    width: 207.5px;
  }
}

@media (min-width: 992px) {
  .client-img.busseys-img {
    width: 168.75px;
  }
  .client-img.crane-img {
    width: 257.6px;
  }
  .client-img.beat-img {
    width: 64.633px;
  }
  .client-img.northern-img {
    width: 289.017px;
  }
}

@media (min-width: 1260px) {
  .client-img.busseys-img, .client-img.crane-img, .client-img.beat-img, .client-img.northern-img {
    width: auto;
  }
}

.pop-up {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  width: 220px;
  padding: 20px;
  background-color: #333645;
  color: #fff;
  text-align: center;
}

.pop-up.pop-busseys {
  top: -132.717px;
}

.pop-up.pop-crane {
  top: -176.717px;
}

.pop-up.pop-beat {
  top: -132.717px;
}

.pop-up.pop-northern {
  top: -176.717px;
}

.pop-up::after {
  content: "";
  border-top: 35px solid #333645;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-bottom: none;
  position: absolute;
  bottom: -34px;
  width: 0;
  height: 0;
}

@media (min-width: 768px) {
  .pop-up.pop-busseys {
    left: -69.425px;
  }
  .pop-up.pop-crane {
    left: -37.525px;
  }
  .pop-up.pop-beat {
    left: -106.8px;
  }
  .pop-up.pop-northern {
    left: -26.25px;
  }
}

@media (min-width: 992px) {
  .pop-up.pop-busseys {
    left: -45.625px;
  }
  .pop-up.pop-crane {
    left: -1.2px;
  }
  .pop-up.pop-beat {
    left: -97.6835px;
  }
  .pop-up.pop-northern {
    left: 14.5085px;
  }
}

@media (min-width: 1260px) {
  .pop-up.pop-busseys {
    left: -36px;
  }
  .pop-up.pop-crane {
    left: 13.5px;
  }
  .pop-up.pop-beat {
    left: -94px;
  }
  .pop-up.pop-northern {
    left: 31px;
  }
}

.client-name {
  font-weight: 400;
  font-size: 1.125rem;
  padding-bottom: 9px;
  white-space: nowrap;
}

.client-line {
  content: "";
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 11px;
}

.client-info {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */