@charset "UTF-8";
html {
  overflow-x: hidden;
  font-size: 16px;
}

html * {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #666;
  letter-spacing: .4px;
  line-height: 1.42857143;
}

.noScroll {
  overflow: hidden;
}

.header-placer {
  width: 100%;
  height: 168px;
}

@media (min-width: 768px) {
  .header-placer {
    height: 110px;
  }
}

@media (min-width: 992px) {
  .header-placer {
    height: 212.717px;
  }
}

.placer-up {
  height: 0px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  position: static;
}

.header-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header-container a:visited,
.header-container a:link {
  color: #fff;
}

.header-down {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

@media (min-width: 768px) {
  .header-down {
    padding-left: calc(50% - 375px);
    padding-right: calc(50% - 375px);
  }
}

@media (min-width: 992px) {
  .header-down {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-hidden {
  position: fixed;
  top: -212.717px;
  left: 0;
  z-index: 9;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  height: 128px;
}

@media (min-width: 768px) {
  .banner-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 750px;
    height: 70px;
  }
}

@media (min-width: 992px) {
  .banner-container {
    width: 940px;
  }
}

@media (min-width: 1260px) {
  .banner-container {
    width: 1170px;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -ms-flex-preferred-size: 33px;
      flex-basis: 33px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 768px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 345px;
            flex: 0 0 345px;
    max-width: 345px;
    height: 60.0667px;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 374px;
            flex: 0 0 374px;
    max-width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
    height: 64.4167px;
  }
}

.logo-img {
  width: 100%;
}

@media (min-width: 590px) {
  .logo-img {
    width: 402px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .logo-img {
    width: 345px;
    height: 60.067px;
  }
}

@media (min-width: 992px) {
  .logo-img {
    width: 374px;
    height: 65.15px;
  }
}

@media (min-width: 1260px) {
  .logo-img {
    width: 370px;
    height: 64.4167px;
  }
}

.phone-container .fas {
  margin-left: 15px;
  color: #333645;
  font-size: 2rem;
  cursor: pointer;
}

.phone-container .fas:hover {
  color: #121419;
}

@media (min-width: 768px) {
  .phone-container {
    display: none;
  }
}

.support-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5.8px 15.675px;
  background-color: #4183d7;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 93px;
}

.support-container .fas,
.support-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.support-container:hover {
  background-color: #2a6ec6;
}

.contact-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44.4px;
  padding: 5.8px 15.675px;
  background-color: #999aa2;
  border-radius: 3px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 46px;
  cursor: pointer;
  margin-left: 20px;
  padding: 5.8px 12.7915px;
}

.contact-container .fas,
.contact-container .far {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.438rem;
}

.contact-container:hover {
  background-color: #84858f;
}

.contact-container,
.support-container {
  display: none;
}

@media (min-width: 992px) {
  .contact-container,
  .support-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 47px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .search-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 238px;
    height: 56px;
    margin-left: 55px;
  }
}

@media (min-width: 992px) {
  .search-container {
    margin-left: 20px;
    width: 64.017px;
  }
}

@media (min-width: 1260px) {
  .search-container {
    width: 303px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
}

#search-input {
  width: 100%;
  padding: 5px 15px;
  border-style: solid;
  color: #555;
  font-size: 0.875rem;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 0 1.6px 1.6px;
}

#search-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  #search-input {
    width: 142px;
    height: 44.4px;
    background-color: #fff;
    border-color: #ccc;
    border-width: 0.8px;
  }
  #search-input:focus {
    border-color: #5bc0de;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}

@media (min-width: 992px) {
  #search-input {
    display: none;
  }
}

@media (min-width: 1260px) {
  #search-input {
    display: inline-block;
    width: 208px;
  }
}

.search-button-btn {
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 47px;
  margin-right: 20px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1.6px solid rgba(0, 0, 0, 0.1);
  border-width: 1.6px 1.6px 1.6px 0;
}

.search-button-btn .fas {
  color: #fff;
  font-size: 1.4375rem;
}

.search-button-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .search-button-btn {
    height: 56px;
    margin-right: 0;
    padding: 7px 20px 3px;
    background-color: #999aa2;
    border: none;
  }
  .search-button-btn:hover {
    background-color: #84858f;
  }
}

.menu-container {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .menu-container {
    margin-right: 0px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  margin-left: 20px;
  padding: 5px 12px;
  background-color: #333645;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-button span {
  font-size: 21px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #fff;
}

.menu-button:hover {
  background-color: #22242e;
}

.menu-button span {
  font-size: 21px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #fff;
  margin-bottom: 3px;
  margin-top: 5px;
}

.hamburger-box {
  width: 33px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger--slider .hamburger-inner {
  top: -5px;
}

.hamburger--slider.is-active .hamburger-box {
  background-color: #333645;
}

.hamburger--slider.is-active .hamburger-inner {
  background-color: #fff;
  height: 3px;
}

.hamburger--slider.is-active .hamburger-inner::after {
  background-color: #fff;
  height: 3px;
  -webkit-transform: translate3d(0, -3px, 0) rotate(-90deg);
          transform: translate3d(0, -3px, 0) rotate(-90deg);
}

.hamburger--slider .hamburger-inner::before {
  top: 12px;
}

.hamburger--slider .hamburger-inner::after {
  top: 3px;
  bottom: -10px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 33px;
  height: 6px;
  border-radius: 0;
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: .12s;
          transition-delay: .12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top .1s ease-out,opacity .1s ease-out .12s;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #333645;
}

#menu-button:hover .hamburger-inner::before,
#menu-button:hover .hamburger-inner::after {
  background-color: #22242e;
}

.nav-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  background-color: #333645;
  display: none;
}

@media (min-width: 992px) {
  .nav-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
  width: 154px;
}

.nav-link .fas {
  padding-bottom: 10px;
  font-size: 1.438rem;
}

.nav-link a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link small {
  font-size: 0.625rem;
  line-height: 1;
}

.nav-link:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1260px) {
  .nav-link {
    width: 196px;
  }
}

.web-link .fas {
  color: #79539a;
}

.web-link:hover {
  background-color: #926fb1;
}

.web-link:hover .fas {
  color: #fff;
}

.web-link:hover .dropdown {
  background-color: #79539a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.it-link .fas {
  color: #286abd;
}

.it-link:hover {
  background-color: #4183d7;
}

.it-link:hover .fas {
  color: #fff;
}

.it-link:hover .dropdown {
  background-color: #286abd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tele-link .fas {
  color: #bc2c28;
}

.tele-link:hover {
  background-color: #d64541;
}

.tele-link:hover .fas {
  color: #fff;
}

.tele-link:hover .dropdown {
  background-color: #bc2c28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soft-link .fas {
  color: #526781;
}

.soft-link:hover {
  background-color: #67809f;
}

.soft-link:hover .fas {
  color: #fff;
}

.soft-link:hover .dropdown {
  background-color: #526781;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.market-link .fas {
  color: #25a25a;
}

.market-link:hover {
  background-color: #2ecc71;
}

.market-link:hover .fas {
  color: #fff;
}

.market-link:hover .dropdown {
  background-color: #25a25a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secur-link .fas {
  color: #de093f;
}

.secur-link:hover {
  background-color: #f62459;
}

.secur-link:hover .fas {
  color: #fff;
}

.secur-link:hover .dropdown {
  background-color: #de093f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-container {
  position: absolute;
  top: 102px;
  left: 0;
  width: 99vw;
  font-size: .8125rem;
}

@media (min-width: 1260px) {
  .dropdown-container {
    font-size: 1rem;
  }
}

.right-align {
  margin-right: auto;
}

@media (min-width: 992px) {
  .right-align.align-one {
    width: 102px;
  }
  .right-align.align-two {
    width: 160px;
  }
  .right-align.align-three {
    width: 77px;
  }
  .right-align.align-four {
    width: 45px;
  }
  .right-align.align-five {
    width: 206px;
  }
  .right-align.align-six {
    width: 64px;
  }
}

@media (min-width: 1260px) {
  .right-align.align-one {
    width: 116px;
  }
  .right-align.align-two {
    width: 184px;
  }
  .right-align.align-three {
    width: 83px;
  }
  .right-align.align-four {
    width: 42px;
  }
  .right-align.align-five {
    width: 240px;
  }
  .right-align.align-six {
    width: 66px;
  }
}

.dropdown {
  display: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
  z-index: 2;
  min-width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 0;
  list-style: none;
  line-height: 2.813rem;
  cursor: pointer;
}

.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown li:first-of-type {
  margin-left: auto;
}

.dropdown li:nth-of-type(n+2) {
  padding-left: 30px;
}

.dropdown li::after {
  content: "-";
  padding-left: 30px;
}

.dropdown li:last-of-type::after {
  content: none;
}

@media (max-width: 1260px) {
  .dropdown li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown li:nth-of-type(n+2) {
    padding-left: 20px;
  }
  .dropdown li::after {
    content: "-";
    padding-left: 20px;
  }
}

.left-header {
  margin-left: -367px;
  width: 100%;
  overflow-y: hidden;
}

#carousel {
  width: 100%;
}

.slick-slide {
  width: 100%;
  min-height: 490.2px;
  height: calc(100vh - 212.717px);
  position: relative;
}

.carousel-img-container {
  width: 100%;
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-text {
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 0 25px;
  font-weight: 400;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.carousel-text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 992px) {
  .carousel-text h1 {
    width: 950px;
    text-align: left;
  }
  .carousel-text p {
    width: 950px;
    text-align: left;
  }
}

@media (min-width: 1260px) {
  .carousel-text h1 {
    width: 1200px;
  }
  .carousel-text p {
    width: 1200px;
  }
}

.carousel-button {
  vertical-align: middle;
  width: 225px;
  height: auto;
  margin-bottom: 0;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin-left: calc(50% - 106.5px);
  text-transform: uppercase;
}

.carousel-button .fas {
  display: inline;
  padding-left: 12px;
}

@media (min-width: 992px) {
  .carousel-button {
    margin-left: calc(50% - 475px);
  }
}

@media (min-width: 1260px) {
  .carousel-button {
    margin-left: calc(50% - 600px);
  }
}

.carousel-design {
  background-color: #926fb1;
}

.carousel-design:hover {
  background-color: #79539a;
}

.carousel-it {
  background-color: #4183d7;
}

.carousel-it:hover {
  background-color: #286abd;
}

.carousel-telecoms {
  background-color: #d64541;
}

.carousel-telecoms:hover {
  background-color: #bc2c28;
}

.carousel-software {
  background-color: #67809f;
}

.carousel-software:hover {
  background-color: #526781;
}

.carousel-marketing {
  background-color: #2ecc71;
  width: 346px;
  margin-left: calc(50% - 173px);
}

.carousel-marketing:hover {
  background-color: #25a25a;
}

@media (min-width: 992px) {
  .carousel-marketing {
    margin-left: calc(50% - 475px);
  }
}

@media (min-width: 1260px) {
  .carousel-marketing {
    margin-left: calc(50% - 600px);
  }
}

.carousel-security {
  background-color: #f62459;
}

.carousel-security:hover {
  background-color: #de093f;
}

div.glide__bullets {
  position: absolute;
  bottom: 20px;
  margin-left: 50vw;
  margin-right: auto;
}

button.glide__bullet {
  width: 11px;
  height: 11px;
  border: none;
  border-radius: 30px;
}

button.glide__bullet:hover {
  background: #d6d6d6;
}

.bullet_chosen {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.glide__bullet--active {
  background-color: #fff;
}

.slick-dots {
  bottom: 44px;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li.slick-active {
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2pt #fff;
          box-shadow: 0 0 0 2pt #fff;
  opacity: 1;
}

.slick-dots li button {
  width: 19px;
}

.slick-dots li button:before {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
  padding-top: 1px;
  padding-left: 1px;
  width: 19px;
}

#service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#service-cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  color: #666;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1260px) {
  #service-cards {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #service-cards .top-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 368px;
            flex: 0 0 368px;
  }
  #service-cards .bottom-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 268px;
            flex: 0 0 268px;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  #service-cards a {
    margin-left: 15px;
    margin-right: 15px;
  }
  #service-cards .top-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 293px;
            flex: 0 0 293px;
  }
  #service-cards .bottom-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 455px;
            flex: 0 0 455px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #service-cards .top-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 720px;
            flex: 0 0 720px;
  }
  #service-cards .bottom-con {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 345px;
            flex: 0 0 345px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  height: 228px;
}

.card h2 {
  margin-bottom: 14px;
  color: #333645;
  font-size: 1.125rem;
  font-weight: 400;
}

.card span {
  width: 28px;
  min-height: 3px;
  margin-bottom: 11px;
  background-color: #333645;
}

.card:hover .card-icon,
.card:hover span,
.card:hover .card-button {
  background-color: #fff;
}

.card:hover h2 {
  color: #fff;
}

@media (max-width: 571px) {
  .card.soft-card, .card.market-card {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .card.bottom-row {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .card {
    height: 294px;
  }
  .card.bottom-row {
    height: 228px;
  }
}

@media (min-width: 1260px) {
  .card {
    height: 250px;
  }
  .card.bottom-row {
    height: 250px;
  }
}

.top-con .card-p {
  width: 75%;
}

@media (min-width: 768px) {
  .top-con .card-p {
    width: 658px;
  }
}

@media (min-width: 992px) {
  .top-con .card-p {
    width: 232px;
  }
}

@media (min-width: 1260px) {
  .top-con .card-p {
    width: 308px;
  }
}

.bottom-con .card-p {
  width: 75%;
}

@media (min-width: 768px) {
  .bottom-con .card-p {
    width: 345px;
  }
}

@media (min-width: 992px) {
  .bottom-con .card-p {
    width: 455px;
  }
}

@media (min-width: 1260px) {
  .bottom-con .card-p {
    width: 208px;
  }
}

.soft-card .card-icon,
.soft-card .card-button {
  background-color: #67809f;
  color: #fff;
}

.soft-card:hover {
  background-color: #67809f;
  color: #fff;
}

.soft-card:hover .card-icon,
.soft-card:hover .card-button {
  color: #67809f;
}

.it-card .card-icon,
.it-card .card-button {
  background-color: #4183d7;
  color: #fff;
}

.it-card:hover {
  background-color: #4183d7;
  color: #fff;
}

.it-card:hover .card-icon,
.it-card:hover .card-button {
  color: #4183d7;
}

.market-card .card-icon,
.market-card .card-button {
  background-color: #2ecc71;
  color: #fff;
}

.market-card:hover {
  background-color: #2ecc71;
  color: #fff;
}

.market-card:hover .card-icon,
.market-card:hover .card-button {
  color: #2ecc71;
}

.tele-card .card-icon,
.tele-card .card-button {
  background-color: #d64541;
  color: #fff;
}

.tele-card:hover {
  background-color: #d64541;
  color: #fff;
}

.tele-card:hover .card-icon,
.tele-card:hover .card-button {
  color: #d64541;
}

.web-card .card-icon,
.web-card .card-button,
.scs-card .card-icon,
.scs-card .card-button {
  background-color: #926fb1;
  color: #fff;
}

.web-card:hover,
.scs-card:hover {
  background-color: #926fb1;
  color: #fff;
}

.web-card:hover .card-icon,
.web-card:hover .card-button,
.scs-card:hover .card-icon,
.scs-card:hover .card-button {
  color: #926fb1;
}

.secur-card .card-icon,
.secur-card .card-button {
  background-color: #f62459;
  color: #fff;
}

.secur-card:hover {
  background-color: #f62459;
  color: #fff;
}

.secur-card:hover .card-icon,
.secur-card:hover .card-button {
  color: #f62459;
}

.card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  min-height: 60px;
  margin-bottom: 17px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.438rem;
}

.card-icon .fas {
  height: 24px;
  margin-top: 19px;
}

.card-p {
  margin-bottom: 13px;
  font-size: .8125rem;
  line-height: 1.375rem;
}

.card-button {
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.063rem;
  line-height: 35px;
  text-transform: uppercase;
}

#about-section {
  width: 100%;
  background-color: #333645;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
  color: #fff;
  background-image: none;
  height: 493.2px;
}

#about-section a {
  text-decoration: none;
  color: initial;
}

@media (min-width: 992px) {
  #about-section {
    background-image: url(../resources/img/branded.png);
  }
}

@media (min-width: 1260px) {
  #about-section {
    height: 553.6px;
  }
}

.about-area {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .about-area {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .about-area {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .about-area {
    width: 1200px;
  }
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 94px);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 44px;
  padding-bottom: 50px;
  width: 97%;
}

.about-text p {
  line-height: 1.875rem;
}

.about-text p:first-of-type {
  font-weight: bold;
}

@media (min-width: 768px) {
  .about-text {
    width: 97%;
  }
}

@media (min-width: 992px) {
  .about-text {
    width: 97%;
  }
}

@media (min-width: 1260px) {
  .about-text {
    width: 48%;
  }
}

.about-h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

.about-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 141px;
  height: 35px;
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 3px;
  color: #333645;
  font-size: 1.063rem;
  text-transform: uppercase;
  cursor: pointer;
}

.about-button:hover {
  background-color: #ebebeb;
}

.break-div {
  position: relative;
  height: 104px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  color: #333645;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.break-div * {
  margin-left: 15px;
}

.break-div h4 {
  padding: 40px 0;
}

.break-div span {
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: 72px;
  height: 5px;
  background-color: #333645;
}

.break-align {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .break-align {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .break-align {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .break-align {
    width: 1200px;
  }
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  margin-top: 50px;
  margin-right: 15px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-cards a {
  text-decoration: none;
  color: #666;
}

@media (min-width: 768px) {
  .news-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card-news {
  position: relative;
  margin-left: 15px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-top-color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin-right: 0;
}

.card-news:nth-of-type(1) .news-img-container p {
  background-color: #926fb1;
}

.card-news:nth-of-type(1) h3 {
  color: #926fb1;
}

.card-news:nth-of-type(1) .news-button {
  background-color: #926fb1;
}

.card-news:nth-of-type(1) .news-button:hover {
  background-color: #79539a;
}

.card-news:nth-of-type(2) .news-img-container p {
  background-color: #d64541;
}

.card-news:nth-of-type(2) h3 {
  color: #d64541;
}

.card-news:nth-of-type(2) .news-button {
  background-color: #d64541;
}

.card-news:nth-of-type(2) .news-button:hover {
  background-color: #bc2c28;
}

.card-news:nth-of-type(3) .news-img-container p {
  background-color: #926fb1;
}

.card-news:nth-of-type(3) h3 {
  color: #926fb1;
}

.card-news:nth-of-type(3) .news-button {
  background-color: #926fb1;
}

.card-news:nth-of-type(3) .news-button:hover {
  background-color: #79539a;
}

@media (min-width: 768px) {
  .card-news {
    margin-right: 15px;
    width: 345px;
    height: 568px;
  }
}

@media (min-width: 992px) {
  .card-news {
    width: 455px;
    height: 632px;
  }
}

@media (min-width: 1260px) {
  .card-news {
    width: 370px;
    height: 583.067px;
  }
}

@media (min-width: 768px) {
  .card-news:nth-of-type(3) {
    display: none;
  }
}

@media (min-width: 1260px) {
  .card-news:nth-of-type(3) {
    display: inline;
  }
}

.news-img-container {
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: auto;
}

.news-img-container img {
  width: 100%;
  height: auto;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.news-img-container p {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 10px;
  background-color: #d64541;
  color: #fff;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1.438rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .news-img-container {
    height: auto;
  }
}

@media (min-width: 992px) {
  .news-img-container img:hover {
    opacity: .75;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.news-h3 {
  min-height: 3rem;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.news-h3:hover {
  text-decoration: underline;
}

.news-p {
  margin-left: 30px;
  margin-right: 30px;
  font-size: .8125rem;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .news-p {
    margin-bottom: 50px;
  }
}

@media (min-width: 1260px) {
  .news-p {
    margin-bottom: 30px;
  }
}

.news-button {
  width: 98px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  line-height: 35px;
  font-size: 1.063rem;
  text-transform: uppercase;
  cursor: pointer;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  font-size: .875rem;
}

#clients {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #fff;
  -webkit-box-shadow: 0px -50px 0 0 #fff, 0 5px 35px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px -50px 0 0 #fff, 0 5px 35px rgba(0, 0, 0, 0.1) inset;
  display: none;
}

@media (min-width: 768px) {
  #clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45.117px;
  }
}

@media (min-width: 992px) {
  #clients {
    height: 62.833px;
  }
}

@media (min-width: 1260px) {
  #clients {
    height: 70px;
  }
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.client-item:hover .pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-item:hover .colored {
  display: inline;
}

.client-item:hover .grey {
  display: none;
}

@media (min-width: 768px) {
  .client-item:hover {
    height: 145.117px;
  }
}

@media (min-width: 992px) {
  .client-item:hover {
    height: 162.833px;
  }
}

@media (min-width: 1260px) {
  .client-item {
    margin-left: 37.5px;
    margin-right: 37.5px;
  }
  .client-item:hover {
    height: 170px;
  }
}

.client-img {
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .client-img.busseys-img {
    width: 121.15px;
  }
  .client-img.crane-img {
    width: 184.95px;
  }
  .client-img.beat-img {
    width: 46.4px;
  }
  .client-img.northern-img {
    width: 207.5px;
  }
}

@media (min-width: 992px) {
  .client-img.busseys-img {
    width: 168.75px;
  }
  .client-img.crane-img {
    width: 257.6px;
  }
  .client-img.beat-img {
    width: 64.633px;
  }
  .client-img.northern-img {
    width: 289.017px;
  }
}

@media (min-width: 1260px) {
  .client-img.busseys-img, .client-img.crane-img, .client-img.beat-img, .client-img.northern-img {
    width: auto;
  }
}

.colored {
  display: none;
}

.pop-up {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  width: 220px;
  padding: 20px;
  background-color: #333645;
  color: #fff;
  text-align: center;
}

.pop-up.pop-busseys {
  top: -132.717px;
}

.pop-up.pop-crane {
  top: -176.717px;
}

.pop-up.pop-beat {
  top: -132.717px;
}

.pop-up.pop-northern {
  top: -176.717px;
}

.pop-up::after {
  content: "";
  position: absolute;
  bottom: -34px;
  width: 0;
  height: 0;
  border-top: 35px solid #333645;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-bottom: none;
}

@media (min-width: 768px) {
  .pop-up.pop-busseys {
    left: -69.425px;
  }
  .pop-up.pop-crane {
    left: -37.525px;
  }
  .pop-up.pop-beat {
    left: -106.8px;
  }
  .pop-up.pop-northern {
    left: -26.25px;
  }
}

@media (min-width: 992px) {
  .pop-up.pop-busseys {
    left: -45.625px;
  }
  .pop-up.pop-crane {
    left: -1.2px;
  }
  .pop-up.pop-beat {
    left: -97.6835px;
  }
  .pop-up.pop-northern {
    left: 14.5085px;
  }
}

@media (min-width: 1260px) {
  .pop-up.pop-busseys {
    left: -36px;
  }
  .pop-up.pop-crane {
    left: 13.5px;
  }
  .pop-up.pop-beat {
    left: -94px;
  }
  .pop-up.pop-northern {
    left: 31px;
  }
}

.client-name {
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 1.125rem;
  white-space: nowrap;
}

.client-line {
  content: "";
  width: 28px;
  height: 3px;
  margin-bottom: 11px;
  background-color: #fff;
}

.client-info {
  margin-bottom: 0;
  font-size: .8125rem;
  line-height: 1.375rem;
  width: 100%;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ddd;
}

#newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: #333645;
  width: calc(100% - 60px);
}

@media (min-width: 768px) {
  #newsletter-form {
    width: 660px;
  }
}

@media (min-width: 992px) {
  #newsletter-form {
    width: 880px;
  }
}

@media (min-width: 1260px) {
  #newsletter-form {
    width: 1110px;
  }
}

.form-h2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
}

.form-label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.42857143;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form-label:first-of-type {
  margin-right: calc(50% - 92px);
}

.form-label span {
  color: #d24d57;
}

@media (min-width: 992px) {
  .form-label {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.form-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 37px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  border-style: solid;
  border-width: 1.6px 0 1.6px 1.6px;
  border-color: #ccc;
  border-width: 0.8px;
  color: #555;
  font-size: 0.875rem;
  width: 100%;
}

.form-text:focus {
  border-color: #5bc0de;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

@media (min-width: 768px) {
  .form-text {
    width: 628px;
  }
}

@media (min-width: 992px) {
  .form-text {
    width: 393px;
  }
  .form-text:first-of-type {
    margin-right: 30px;
  }
}

@media (min-width: 1260px) {
  .form-text {
    width: 508px;
  }
}

.check-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  height: 31.533px;
  margin-right: 20px;
}

.form-check {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background-color: #ddd;
  opacity: 0;
  cursor: pointer;
}

.form-check:checked + .form-checkset::before {
  content: '✓';
  display: inline-block;
  vertical-align: center;
  width: 26.8px;
  height: 26.8px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.form-checkset {
  display: inline-block;
  width: 0;
  height: 0;
}

.form-checkset::before {
  content: '';
  display: inline-block;
  width: 26.8px;
  height: 26.8px;
  margin-right: 52px;
  background-color: #ddd;
  border-radius: 3px;
  border: 3px solid #333645;
}

.form-statement {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  vertical-align: top;
  width: 1058px;
  margin-left: 52px;
  margin-top: -32px;
  margin-bottom: 30px;
  line-height: 32px;
  font-weight: 600;
}

.form-statement a {
  color: #333645;
}

.form-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 5px 15px;
  background-color: #333645;
  border-radius: 3px;
  border: none;
  color: #fff;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 1.063rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #22242e;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333645;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

#footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 47px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  #footer-container {
    width: 720px;
    padding-bottom: 43px;
  }
}

@media (min-width: 992px) {
  #footer-container {
    width: 955px;
  }
}

@media (min-width: 1260px) {
  #footer-container {
    width: 1200px;
  }
}

.footer-col {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-col {
    width: 50%;
  }
  .footer-col:nth-of-type(2), .footer-col:nth-of-type(4) {
    padding-left: 15px;
    width: calc(50% - 15px);
  }
  .footer-col:nth-of-type(3), .footer-col:nth-of-type(4) {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .footer-col {
    padding-left: 15px;
    width: calc(50% - 15px);
  }
}

@media (min-width: 1260px) {
  .footer-col {
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-col:nth-of-type(1), .footer-col:nth-of-type(2) {
    margin-bottom: 0px;
  }
  .footer-col:nth-of-type(2), .footer-col:nth-of-type(4) {
    width: 270px;
  }
}

.col-h4 {
  margin-bottom: 26px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
}

.col-list {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 0;
}

.col-items {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.col-items.break-after {
  padding-bottom: 22px;
}

.fab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fab-list a:nth-of-type(3) {
  margin-top: 30px;
}

.fab-item {
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  width: calc(50% - 15px);
}

.fab-item:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 0;
}

.fab-item:nth-of-type(1):hover {
  background-color: #3b5998;
}

.fab-item:nth-of-type(2):hover {
  background-color: #00aced;
}

.fab-item:nth-of-type(3):hover {
  background-color: #0077b5;
}

@media (min-width: 768px) {
  .fab-item {
    width: 157.5px;
  }
}

@media (min-width: 992px) {
  .fab-item {
    width: 212.5px;
  }
}

@media (min-width: 1260px) {
  .fab-item {
    width: 120px;
  }
}

.col-items .fab {
  font-size: 1.75rem;
  line-height: 3.438rem;
}

#achievements {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: none;
  height: 265.833px;
}

@media (min-width: 768px) {
  #achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 274.2px;
  }
}

@media (min-width: 992px) {
  #achievements {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 220.667px;
  }
}

@media (min-width: 1260px) {
  #achievements {
    padding-top: 0;
    padding-bottom: 0;
    height: 265.833px;
  }
}

.achievements-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .achievements-area {
    width: 750px;
    height: 174.117px;
  }
}

@media (min-width: 992px) {
  .achievements-area {
    width: 970px;
    height: 220.667px;
  }
}

@media (min-width: 1260px) {
  .achievements-area {
    width: 1200px;
    height: 165.833px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.ach-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 87.1967px;
}

.ach-div:hover .colored {
  display: inline;
}

.ach-div:hover .grey {
  display: none;
}

.ach-div:nth-of-type(1n+4) {
  width: 390px;
  height: 58px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ach-div:nth-of-type(1) {
  width: 155.2px;
}

.ach-div:nth-of-type(2) {
  width: 171.2px;
}

.ach-div:nth-of-type(3) {
  width: 286.2px;
}

@media (min-width: 768px) {
  .ach-div {
    height: 87.1967px;
  }
  .ach-div:nth-of-type(1n+4) {
    width: 240px;
    height: 66.2833px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ach-div:nth-of-type(1n+4) img {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ach-div:nth-of-type(1) {
    width: 73.5px;
  }
  .ach-div:nth-of-type(2) {
    width: 85.6833px;
  }
  .ach-div:nth-of-type(3) {
    width: 173.25px;
  }
}

@media (min-width: 992px) {
  .ach-div {
    height: 110px;
  }
  .ach-div:nth-of-type(1n+4) {
    width: 313.333px;
    height: 90.5833px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ach-div:nth-of-type(1n+4) img {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ach-div:nth-of-type(1) {
    width: 109.2px;
  }
  .ach-div:nth-of-type(2) {
    width: 125.2px;
  }
  .ach-div:nth-of-type(3) {
    width: 240.2px;
  }
}

@media (min-width: 1260px) {
  .ach-div {
    height: 87.1967px;
  }
  .ach-div:nth-of-type(1n+4) {
    width: 390px;
    height: 58px;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .ach-div:nth-of-type(1n+4) img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ach-div:nth-of-type(1) {
    width: 155.2px;
  }
  .ach-div:nth-of-type(2) {
    width: 171.2px;
  }
  .ach-div:nth-of-type(3) {
    width: 286.2px;
  }
}

.ach-img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1260px) {
  .ach-img {
    width: 100%;
  }
}

.non-div:nth-of-type(1) {
  width: 331.2px;
}

.non-div:nth-of-type(2) {
  width: 225px;
}

@media (min-width: 768px) {
  .non-div:nth-of-type(1) {
    width: 260.2px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .non-div:nth-of-type(2) {
    width: 127.567px;
  }
}

@media (min-width: 992px) {
  .non-div:nth-of-type(1) {
    width: 260.2px;
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
  .non-div:nth-of-type(2) {
    width: 180.2px;
  }
}

@media (min-width: 1260px) {
  .non-div {
    padding-right: 55px;
    padding-left: 55px;
  }
  .non-div:nth-of-type(1) {
    width: 331.2px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .non-div:nth-of-type(2) {
    width: 225px;
  }
}

.colored {
  display: none;
}

.grey {
  display: inline;
}

#cookie-popup {
  background-color: #fff;
  margin: auto;
  color: #666;
  width: calc(100% - 60px);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 487.6px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  #cookie-popup {
    width: 600px;
    overflow: hidden;
  }
}

.cookie-heading {
  padding: 15px 20px 15px 20px;
  font-size: 1.625rem;
}

.cookie-text {
  margin: auto;
  line-height: 1.875rem;
  padding: 20px 20px 5px 20px;
}

.cookie-text:nth-of-type(1) {
  border-top: 1px solid #e5e5e5;
}

.cookie-text:nth-of-type(2) {
  padding-bottom: 25px;
}

.cookie-buttons-container {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 19px 35px 20px 0px;
}

.cookie-button {
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  width: 232px;
  border: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  cursor: pointer;
}

@media (min-width: 768px) {
  .cookie-button {
    width: calc(50% - 33px);
  }
}

#cookie-change {
  background-color: #999aa2;
  margin-bottom: 20px;
}

#cookie-change:hover {
  background-color: #84858f;
}

#cookie-accept {
  background-color: #926fb1;
}

#cookie-accept:hover {
  background-color: #79539a;
}

#cookie-screen {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #fff;
}

@media (min-width: 768px) {
  #cookie-screen {
    width: 750px;
    padding-left: calc(50vw - 375px + 5px);
    padding-right: calc(50vw - 375px - 5px);
  }
}

@media (min-width: 992px) {
  #cookie-screen {
    width: 970px;
    padding-left: calc(50vw - 485px + 5px);
    padding-right: calc(50vw - 485px - 5px);
  }
}

@media (min-width: 1260px) {
  #cookie-screen {
    width: 1200px;
    padding-left: calc(50vw - 600px + 5px);
    padding-right: calc(50vw - 600px - 5px);
  }
}

#cookie-screen > * {
  margin-right: 15px;
  padding-left: 0;
}

.screen-heading {
  font-weight: 400;
  margin: 0px;
  color: #333645;
  padding-bottom: 0;
}

.screen-text {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.screen-sub {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 20px 0 28px 0px;
  color: #333645;
}

.screen-text strong {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  color: #333645;
}

.screen-list {
  margin-bottom: 10px;
  padding-left: 10px;
}

.screen-item {
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
  line-height: 1.42857143;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  list-style-position: inside;
}

.screen-item a {
  color: #333645;
  text-decoration: none;
}

.screen-item a:hover {
  text-decoration: underline;
}

.screen-button-container {
  margin-left: auto;
  width: 195px;
}

.screen-button-container:nth-of-type(2) {
  margin-bottom: 30px;
}

.screen-button {
  color: #aaa;
  background-color: #fff;
  border-color: #f0f0f0;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.screen-grey {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  border: none;
  padding-left: 15px !important;
}

.screen-grey:hover {
  background-color: #84858f;
}

.screen-selected {
  background-color: #926fb1;
  color: #fff;
  border: none;
}

.screen-selected:hover {
  background-color: #7e57a0;
}

#details {
  margin-top: 20px;
}

#screen-accept {
  background-color: #926fb1;
  color: #fff;
}

#screen-accept:hover {
  background-color: #7e57a0;
}

.screen-bottom-buttons {
  margin-left: auto;
  width: 283px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.block-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.75;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.left-shift {
  margin-left: -275px;
  width: 100%;
  overflow-y: scroll;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}

@media (min-width: 992px) {
  .left-shift {
    margin-left: -350px;
  }
}

.menu-side {
  position: fixed;
  top: 0;
  right: -350px;
  width: 275px;
  overflow-y: scroll;
  z-index: 11;
  height: 100vh;
  background-color: #333645;
  -webkit-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
}

@media (min-width: 992px) {
  .menu-side {
    width: 350px;
  }
}

#body-container {
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}

#body-container.show-menu-side {
  margin-left: -350px;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}

#menu-side.show-menu-side {
  right: 0;
  -webkit-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
}

.menu-head {
  color: #fff;
  text-transform: uppercase;
}

.lg-menu div:hover h4 {
  background-color: #3D404E;
}

.menu-side h4 {
  font-size: 1rem;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.menu-side div a {
  text-decoration: none;
  color: #fff;
}

.menu-ul {
  color: #fff;
  background-color: #262934;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
}

.menu-li {
  font-size: 0.875rem;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.menu-li:before {
  content: "\BB";
  padding: 15px 15px 15px 0;
  color: #fff;
}

.small-menu {
  display: inline-block;
  padding-bottom: 21px;
}

@media (min-width: 992px) {
  .small-menu {
    display: none;
  }
}

.small-menu > ul {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 21px;
  padding-left: 0;
  list-style: none;
}

.contact-menu-button {
  font-size: 1.125rem;
  padding: 19px 0 18px;
  border-radius: 3px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.small-li > a {
  font-size: 1.125rem;
  padding: 19px 0 18px;
  border-radius: 3px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 21px;
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.small-li:hover > a {
  background-color: rgba(255, 255, 255, 0.05);
}

li.small-li > a > * {
  display: block;
}

.small-li a i {
  padding-bottom: 10px;
  font-size: 1.438rem;
}

.small-li > a > small {
  font-size: .625rem;
  padding-bottom: 1px;
}

.small-ul {
  margin-top: 21px;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  list-style: none;
}

.small-ul li {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.small-ul > li > a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.small-web a i {
  color: #926fb1;
}

.small-it a i {
  color: #4183d7;
}

.small-telecoms a i {
  color: #d64541;
}

.small-software a i {
  color: #67809f;
}

.small-digital a i {
  color: #2ecc71;
}

.small-security a i {
  color: #f62459;
}
/*# sourceMappingURL=style.css.map */